
.boutme {
    padding: 14px;
    background: white;
    max-height: 87vh;
    min-height: 87vh;
    width: 100%;
    border: 1px solid #afafaf2f;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3) ;
    display: flex;
flex-wrap: wrap;
overflow-y: auto;
::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
}

.splasher1 {
    filter: blur(5px);
        width: 100vw;
        height: 100%;
        position: absolute;
}
.testee {
    display: flex;
    padding-top: 46px;
    margin-top: 80px;
width: 100%;
justify-content: end;
padding-left: 180px;
padding-right: 180px;
padding-bottom: 80px;
background: rgb(250, 250, 250);

}
.sun {
width: 30%;
height: 100%;
padding: 14px;
background: rgb(240, 240, 240);
border: 1px solid rgba(0, 0, 0, 0.048);

}
.moon {
    width: 70%;
    overflow-y: scroll;
padding: 14px;
padding-left: 10px;
border-right: 1px solid rgba(48, 48, 48, 0.116);
border-bottom: 1px solid rgba(48, 48, 48, 0.116);
border-top: 1px solid rgba(48, 48, 48, 0.116);

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
scrollbar-width: none;
}
  .rock {
    display: flex;
  }
  .plant {
    width: 100%;

    margin-top: 12px;

  }
  .plant2 {
    width: 100%;

    margin-top: 12px;

  }
.mainimg1 {
    display: flex;
    position: relative;
padding: 2px;
margin-right: auto;
    margin-left: auto;
    background: rgba(54, 54, 54, 0.918);
    margin-top: 40px;
    border-radius: 150px;
    margin-bottom: 12px;
  }
  .sci-hero1 {
    display: flex;
    height: fit-content;
    width: 100%;
    font-size: 26px;
    justify-content: center;
    gap: 22px;
    margin-top: 24px;
    }
    .sci-hero1 span:hover {
      transition: transform 0.3s ease-in-out; /* Smooth transition for the zoom effect */
    
      }
      .sci-hero1 span:hover {
        transform: scale(1.15); /* Scale up the element on hover */
      }

