.propDets {
    width: 100%;
    height: 100%;
    padding-top: 120px;
    padding-left: 300px;
    padding-right: 300px;
padding-bottom: 200px;
}
.buttonp-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .toggle-button {
    padding: 10px 20px;
    border: 1px solid rgb(110, 110, 110);
    background-color: white;
    color: black;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
.chevy {
    float: right;
    font-size: 22px;
    rotate: 180deg;
    transition: transform 0.7s ease;

}
.chevy.rotate {
    transform: rotate(180deg);

}
  .toggle-button.active {
    border: 2px solid rgb(11, 11, 110);
  }
  .toggle-button.disabled {
    position: relative; /* Ensure the parent is positioned */
    overflow: hidden; /* Hide overflow content */
    border: 2px solid rgb(39, 39, 39);
    background-color: rgb(128, 128, 128);
    color: #000000; /* Text color for better visibility */
  }
  
  .toggle-button.disabled::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute; /* Position absolutely within the button */
    top: 50%; /* Adjust vertical position as needed */
    left: 0;
    width: 100%;
    height: 2px; /* Height of the diagonal line */
    background-color: #000; /* Color of the diagonal line */
    transform: translateY(-50%) rotate(-15deg); /* Rotate line by -45 degrees */
  }
  
  .buttonp-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    width: 24.5%;
    border: 2px solid rgb(37, 37, 37);
    font-weight: 500;
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;

  }
  .buttonp-container button:hover {
background-color: rgb(177, 177, 177);
  }
  .schools {
    width: 100%;
    max-height: 450px;
    overflow-y: scroll;
    }
  
  .school-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 100%; /* Adjust the card width as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-decoration: none;
  }
  .school-card-link {
    text-decoration: none !important;
  }
  .school-card a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .school-card a:hover {
    text-decoration: none;
  }
  .toggle-facts-button {
    display: block;
    margin-top: 20px;

    padding: 10px 20px;
    background-color: #cecece;
    color: #002e5f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;

  }
  .toggle-facts {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .toggle-facts-button:hover {
    background-color: #8f8f8f;
  }
  
  .additional-facts {
    padding: 10px;
    border-radius: 5px;
  }
  .additional-facts .descTextF:nth-child(odd) {
    background-color: rgb(238, 238, 238);
  }
  .general {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 4px;
    margin-top: 8px

  }
  .innie {
    width: 95% !important;
    border: 1px solid black;
  }
  .additional-facts .descTextF:nth-child(even) {
    background-color: rgb(170, 170, 170);
  }
  .history-card:nth-child(odd) {
    background-color: rgb(238, 238, 238);
  }
  .history-card:nth-child(even) {
    background-color: rgb(170, 170, 170);
  }
  .schools .school-card:nth-child(odd) {
    background-color: rgb(238, 238, 238);
  }
  .schools .school-card:nth-child(even) {
    background-color: rgb(170, 170, 170);
  }
  .result .descTextF:nth-child(even) {
    background-color: rgb(238, 238, 238);
  }
  .result .descTextF:nth-child(odd) {
    background-color: rgb(170, 170, 170);
  }
  .history {
    max-height: 450px;
    overflow-y: scroll;
  }
  .nearby-homes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-height: 450px;
    overflow-y: scroll;
  }
  .input-group {
    display: flex;
    align-items: center;
    margin: 2 auto;
    justify-content: space-between;
  }
  .home-card {
    position: relative;
    width: 300px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .home-card:hover {
    transform: scale(1.035);
  }
  
  .home-card-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    padding: 5px;
    border-radius: 5px;
  }
  
  .home-address {
    font-size: 14px;
    font-weight: bold;
  }
  .resultdis {
    font-size: 12px;
    font-weight: bold;
    margin: 4px;
  }
  .home-price {
    font-size: 14px;
  }
  
  .home-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .home-card:hover .home-card-overlay {
    opacity: 1;
  }
  .calculatorpd-container {
    padding-top: 30px;
    padding: 24px;
    background-color: #f3f3f3;
    margin-top: 18px;
    border: 1px solid black;
  }
  .mortgagepd-container {
    padding-top: 30px;
    padding: 24px;
    background-color: #f3f3f3;
    margin-top: 18px;
    border: 1px solid black;
  }