.quests {
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    transition: background 12s ease-in-out ;
}

.questLay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 80px;
    padding-top: 35px;
}
.gcse-search {
    border-radius: 25px;
    
}
.qTitle {
    font-size: 40px;
    padding: 0px;
font-weight: 300;
color: var(--white);
  text-align:left;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8); /* horizontal offset, vertical offset, blur radius, color */
}