/* styles.css */
.lists {
  width: 100%;
  height: 90dvh;
  background-size: cover;
  background-position: center;
  transition: background 4s ease-in-out ;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
}
h1 {
  padding-left: 55px;
}
.searchBar {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center contents horizontally */
    align-items: center; /* Align contents vertically */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: left;
  }
  
  /* Adjustments for input and select elements */
  .searchBar input,
  .searchBar select {
    margin: 2px; /* Adjust margins between elements */
    padding: 8px; /* Adjust padding for input/select fields */
    /* Add any other styles as needed */
  }
  
  /* Additional styling for placeholder text if required */
  .searchBar input::placeholder,
  .searchBar select::placeholder {
    color: #888; /* Example placeholder text color */
    /* Add any other placeholder styles as needed */
  }
  .searchBar option:hover {
    background-color: rgb(131, 117, 145);
    color: rgb(131, 117, 145);
  }
  .lists {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background 6s ease-in-out ;
    z-index: -10;
  }
.map {
  height: 750px;
  width: 700px;
  z-index: 200;
  float: right;
  padding-right: 50px;
  border-radius: 25px;
}

/* Styles for the sidebar */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 60px;
  height: 400px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(33.3% - 20px); /* Set the width to 25% of the container minus the gap */
}

.card img {
  width: 100%;
  height: auto;
}
.guidance {
  width: fit-content;
  gap: 5px;
  padding-bottom: 20px;
  height: fit-content;
  }
  .guidance h1{
  color: var(--white);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8); /* horizontal offset, vertical offset, blur radius, color */
  font-weight: 350;
  float: left;
  margin-right: 265px;
  }
  .guidance button {
    float: right;
    background-color: var(--primary);
    width: 150px;
    height: fit-content;
    margin-left: 5px;
  }
  .guidance button:hover {
    background-color: rgb(91, 27, 155);
  }

  @media screen and (max-width: 1200px) {
    .searchBar {
      display: flex;
  flex-direction: column;
  gap: 8px;
  width: 35%;
    }
    .map {
      height: 450px;
      width: 60%;
      z-index: 200;
      border-radius: 25px;
      top: 100px;
    }
  }