.lists {
  width: 100%;
  height: 90dvh;
  background-size: cover;
  background-position: center;
  transition: background 4s ease-in-out ;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100dvh;
  width: 100%;
}

.fullStage {
width: 60%;
float: right;
margin: 20px;
margin-right: 18px;
margin-top: 30px;
position: relative; /* Ensure relative positioning for absolute positioning inside */
}
.params {
	font-weight: lighter;
	font-size: 24px;
	
}
.searchBar {
  display: flex;
  flex-direction: column; 
  height: 50%;
  width: 35%;
  margin: 15px;
  margin-top: 0px;
  padding-top: 80px;
  }
.search1 {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 100%;
	transition: .2s;
}
.propsort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.sort1,
.property1 {
  border-radius: 25px;
  width: 40%; /* Adjust the width as needed */
  padding: 5px;
  
}
.property1 {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 100%;
	transition: .2s;
	cursor: pointer;
}
.sort1 {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 100%;
	transition: .2s;
	cursor: pointer;

}

.bedsbaths {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.beds1,
.baths1 {
  border-radius: 25px;
  width: 40%; /* Adjust the width as needed */
  padding: 5px;
  
}
.baths1 {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 100%;
	transition: .2s;
	cursor: pointer;

}
.beds1 {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 100%;
	transition: .2s;
	cursor: pointer;

}

.minsmaxs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.mins1,
.maxs1 {
  border-radius: 50px;
  width: 40%; /* Adjust the width as needed */
  padding: 5px;
  
}
.maxs1 {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	min-width: 100%;
	transition: .2s;

}
.mins1 {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	min-width: 100%;
	transition: .2s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  border-radius: 25px !important;
}
.resets {
  display: flex;
  justify-content: space-between;
}
.searchBtn1 {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
  margin-left: 30px;

	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
  background: linear-gradient(to right, var(--primary),#340053fc, #520081,#57228b);
	box-shadow: 0px 2px 2px #57228b;
	cursor: pointer;
	transition: .2s;
}
.searchBtn1:hover {
  transition: 0.4s;
  background: linear-gradient(to left, var(--primary),#340053fc, #520081,#57228b);
}
.searchBtn1:active {
	box-shadow: 0 1px #666;
	transform: translateY(3.5px);
  }
.resetBtn {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
  margin-right: 40px;

	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 50%;
	color: var(--primary);
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}
.resetBtn:hover {
  background-color: #dfd3ebe8;
  transition: 0.4s;

}
.resetBtn:active {
	box-shadow: 0 1px #666;
	transform: translateY(3.5px);
  }
.splash {
  background-color: #ffffff79;
  border-radius: 10px;
  padding: 40px;
  padding-bottom: 60px;
  padding-top: 20px;
  box-shadow: 0px 2px 12px 2px;
}

.cDress1{
font-size: 26px;
color: rgb(236, 236, 236);
background-color: #252525a1;
width: fit-content;
padding-left: 3px;
padding-right: 3px;
border-radius: 4px;
text-shadow: 2px 2px 6px #000000;
box-shadow: 0px 0.1px ;

}
.cPrice1{
  font-size: 24px;
  color: rgb(236, 236, 236);
  background-color: #252525a1;
  margin-top: 1px;
padding-left: 3px;
padding-right: 3px;
border-radius: 4px;
text-shadow: 2px 2px 6px #000000;
box-shadow: 0px 0.1px;
width: fit-content;

}
.noResultsMessage {
	display: flex;
	justify-content: center;
	align-content: center;
	font-size: 36px;
	color: #ffffff;
	margin-top: 350px;
	text-shadow: 2px 2px 6px #000000;

}

  .lists {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background 6s ease-in-out ;
    z-index: -10;
  }
.cardContainer {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  gap: 5.5px;
  overflow:auto;
  max-height: 750px;
  min-width: 500px;
  width:fit-content;
  position: relative; /* Ensure relative positioning for absolute positioning inside */
margin-right: 10px;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #49018b; 
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.pPrice  {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 26px;
  font: bolder;
}
.pAddress {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    font: bolder;

}
.cardi1 {
	position: relative; /* Ensure relative positioning for absolute positioning inside */

  flex: 0 0 calc(50% - 5px); /* Calculate width for three columns with gap */
  align-items: flex-start;
  background-color: transparent;
  box-shadow: 0px 2px 12px 2px;
  border-radius: 5px;
  margin-bottom: 2px; /* Add margin to create gap between rows */
 max-height: 340px;
 overflow: hidden;
 transition: all 1s ease-in-out;
 cursor: pointer;
 transition: transform 0.3s ease-in-out;

}

.holding1 {
	display: flex;
	max-width: 100%;
	margin-top: 4px;
  }
  
  .cardBed,
  .cardBaths,
  .cardMls {
	margin-right: 8px; /* Adjust margin as needed */
	background-color: #252525a1;
	border-radius: 4px;
	color: rgb(236, 236, 236);
	padding: 1px;
	padding-left: 2px;
	padding-right: 3px;
	font-size: 20px;
	text-shadow: 2px 2px 6px #000000;

  }
  .cardPark,
  .cardFire,
  .cardMl {
	margin-right: 50px; /* Adjust margin as needed */

  }
  .cardJug,
  .cardWind,
  .cardBroke {
	margin-right: 20px; /* Adjust margin as needed */
  }
  .cardMl {
	color: #5f1e9c;
  }
  .cardBroke {
	color: rgb(71, 26, 4);
  }
.cover1 {
	background-color: #dad7d7;
	border-radius: 5px;
}
.cardi1:hover img{
transform: scale(1.05);
 
}
.cardi1 img {
	width: 100%;
	height: 100%;
	padding: 1px;
	object-fit: fill;
	transition: 275ms transform ease-in-out;
	z-index: -1; 
}
.cardText {
  font-size: 1rem; /* Initial font size */
  overflow: hidden; /* Hide overflowing text */
  margin: 8px;
  margin-left: 10px;
  align-items: flex-start;
  flex: 0 0 50%;
  max-height: 600px;
  overflow-y: auto;
}
.cardText1 {
	font-size: 1rem;
	overflow: hidden;
	margin: 8px;
	margin-left: 10px;
	align-items:flex-end;
	flex: 0 0 50%;
	overflow-y: auto;
	position: absolute; /* Position the text absolutely */
	bottom: 0; /* Align to the top of the parent container */
	left: 0; /* Align to the left of the parent container */
	z-index: 2;
	
  }
.containText {
  height: 50%;
}
.loadingMessage1 {
	display: flex;
	justify-content: center;
	align-content: center;
	font-size: 40px;
	color: #ffffff;
	margin-top: 350px;
	text-shadow: 2px 2px 6px #000000;

}
.clickMore {
	color: #49018b;
}
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  z-index: 3; /* Ensure it appears above other elements */
}
.lightbox-content {
  position: relative;
  max-width: 80%;
  max-height: 85%;
  overflow: auto;
  background-color: #ebe7e7;
  border-radius: 10px;
display: grid;
  justify-content: center;
  border: 0.1px solid #000000;
}
.lightbox-close {
  position: absolute;
  top: 8px;
  right: 4px;
  background: none;
  border: none;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  transition: all .2s ease-in-out; 

}
.lightbox-close:hover {
background-color: transparent;
transform: scale(1.05); 
}
.side-by-side-container {
  display: flex;
  width: 100%; /* Ensure the container takes full width */

}
.side-by-side-container img,
.side-by-side-container .cardText {
  flex: 1;
}
.fixer {
  position: relative;
  flex: 0 0 50%;
  

}
.map {
  width: auto; /* Set the width to 100% */
  height: 335px;
  z-index: 200;
margin-top: 0.5px;
}
.lightbox-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 90%;
  background-color: rgba(54, 52, 52, 0.2);
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;

}
.lightbox-left:hover {
  background-color: rgba(54, 52, 52, 0.40); /* Adjust the hover opacity as needed */
}

.lightbox-right {
  position: absolute;
right: 0;  
top: 50%;
transform: translateY(-50%);
  bottom: 0;
  height: 90%;
  background-color: rgba(54, 52, 52, 0.2); /* Adjust the hover opacity as needed */
  border: none;
  color: #fff; /* Text color */
  font-size: 24px; /* Adjust the font size as needed */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}
.lightbox-right:hover {
  background-color: rgba(54, 52, 52, 0.40); /* Adjust the hover opacity as needed */
}
.lightbox img {
 width: 100%;
 height: 100%;
 max-height: 400px;
}
/* WATCH OUT  */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.container {
	display: flex;
	align-items: center;
	justify-content: center;
  width: 100%;
}

.screen {		
  background: linear-gradient(to right, var(--primary),#340053fc, #520081,#57228b);
	position: relative;	
	height: 600px;
	width: 90%;	
	box-shadow: 0px 0px 12px var(--primary);
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
  width: 80%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 580px;
	width: 520px;
	background: #fff5f5;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
  background: linear-gradient(to right, var(--primary),#340053fc, #520081,#57228b);
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
  background: linear-gradient(to right, var(--primary),#340053fc, #520081,#57228b);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
  background: linear-gradient(to right, var(--primary),#340053fc, #520081,#57228b);
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 100%;
	padding: 30px;
  padding-top: 60px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: var(--primary);
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: var(--primary);
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: var(--primary);
	box-shadow: 0px 2px 2px var(--primary);
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: var(--primary);
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: var(--primary);
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px var(--primary);
}

.social-login__icon:hover {
	transform: scale(1.5);	
}