.containerDad {
    display: flex;
  }
  
  .containerCalc {
    width: 25%;
  }

  .popUp {
    flex-grow: 1;
    margin: 5px;
    padding: 8px;
    background: hsla(270, 11%, 51%, 0.969);
}
form {
    margin: auto;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.dropdown-content {
    display: none;
    overflow-y: auto;
    max-height: 200px; /* Adjust height as needed */
}

.dropdown-content.active {
    display: block;
}