.containerDad {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 16px;
    padding-bottom: 24px;
  }
  
  .containerCalc {
    width: 90%;
    margin-right: auto;
    margin-left: auto;  }
  .textChart {
    display: flex;
}
.simpin {  
color: rgba(30, 0, 48, 0.99);
font-size: 20px;
font-weight: 500;
}
.impData {
    padding: 2px;
    padding-top: 0px;
    padding-bottom: 14px;
}
.text-container {
    margin-right: 20px; /* Add some space between text and chart */
    margin-left: 14px;
}

.doughnut-chart-container {
    flex: 1; /* Allow the chart container to grow to take remaining space */
}
.schedules {
    display: flex;
    flex-direction: column;
}
.bottomCalc {
    width: 60%;
}
.resetCalc {
    width: fit-content;
    height: fit-content;
    background: rgba(30, 0, 48);
padding: 8px;
width: 25%;
color: white;
border-radius: 1px;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
font-size: 18px;
border-radius: 3px;
border: 1px solid #979797a6;
}
.resetCalc:hover {
    background-color:#7800bdfb ;
}
.resetCalc:active {
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }
.calculate {
    width: fit-content;
    height: fit-content;
    background: rgba(30, 0, 48);
padding: 8px;
width: 25%;
border-radius: 3px;
color: white;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
font-size: 18px;
border: 1px solid #979797a6;
}
.doom {
    display: flex;
    width: 100%;
    gap: 30px;
}
.mince {
    display: flex;
    gap: 8px;
}
.calculate:hover {
    background-color:#7800bdfb ;
}
.calculate:active {
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }
.scheduleButts {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    margin-bottom: 4px;
}
.amortTitle {
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 8px;
    padding-left: 10px;
    font-size: 22px;
    text-align: center;
    background-color: rgba(30, 0, 48, 0.99);
    line-height: 1.8;
    color: #f2f2f2;
    margin: 8px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);

}
.split-container {
    display: flex;
    flex-direction: column;
    height: 86%;
    width: 55%;
    margin-left: 12px;
    align-items: center;
    justify-content: center;
    margin: 8px;
    margin-left: auto;
}
.drops {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;

}
.popUp {
    flex: 1; /* Grow to fill remaining space */
    background: linear-gradient(to right, rgba(230, 230, 230, 0.99),rgba(226, 226, 226, 0.969));
    width: 60%;
    height: fit-content;
    border-radius: 5px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
margin-bottom: auto;
margin-top: auto;
box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.9) ;
border: 1px solid #afafaf2f;
}

.littlePlan {
    margin-left: 16px;

}
.monPay {
    font-size: 22px;
    padding-top: 12px;
    padding-left: 12px;
    text-decoration: underline;
    color: rgba(30, 0, 48, 0.99);
font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.monPay2 {
    font-size: 20px;
    padding-top: 2px;
    padding-left: 12px;
    color: rgba(30, 0, 48, 0.99);
    font-weight: 500;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.monPay3 {
    font-size: 20px;
    font-weight: 500;

    padding-left: 12px;
    color: rgba(30, 0, 48, 0.99);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.input-like {
    display: inline-block;
    width: 97.5%;
    height: 46px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.popUp2 {
    flex: 1; /* Grow to fill remaining space */
    background: linear-gradient(to right, rgba(233, 233, 233, 0.99),rgba(211, 211, 211, 0.969));
    width: 50%;
    height: 450px;
    padding: 18px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-end;
    border-radius: 5px;
    margin-left: 8px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.9) ;
    border: 1px solid #afafaf2f;
margin-bottom: 14px;
}

.calcForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.9) ;
    border: 1px solid #afafaf2f;
    background: linear-gradient(to right, rgba(233, 233, 233, 0.99),rgba(211, 211, 211, 0.969));
    color: #ddd;
    border-radius: 5px;
    padding: 10px;
    padding-top: 0px;
    width: 50%;
}

.form-row {
    display: flex;
    gap: 10px;
    
}

.form-group {
    flex: 1;
}

.full-width {
    flex-basis: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
}

.form-actions {
    display: flex;
    justify-content: center;

    gap: 10px;
}
.calcForm input[type="number"] {
    border-radius: 5px;
}
.month {
    background-color: rgba(30, 0, 48, 0.99);
    width: 35%;
    border: 1px solid #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    margin-left: auto;
    color: white;
    border: 1px solid #afafaf2f;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
  border-radius: 5px;
}
.month:hover {
    background-color: #30004dfb;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3) ;

}
.month.inactive {
    background-color: #363636fb;


}
.downPDF {
    background-color: rgba(30, 0, 48, 0.99);
    width: 28%;
    color: white;
    border: 1px solid #afafaf2f;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
  border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: 0;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 2px;
}
.downPDF:hover {
    background-color: #30004dfb;

}
.annual  {
    background-color: rgba(30, 0, 48, 0.99);
    width: 35%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    margin-right: 2px;
    color: white;
    border: 1px solid #afafaf2f;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
  border-radius: 5px;

}
.annual:hover  {
    background-color: #30004dfb;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3) ;

}
.annual.inactive  {
    background-color: #363636fb;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;

}

table td {
    border: 1px solid #afafafd5;
}
table th {
    border: 1px solid #afafafd5;
}
th, td {
    border: 1px solid #000000;
    padding: 8px;
    background-color: #f2f2f2;
    font-size: 20px;
    color: #000;
    text-align: center;
}

th {
    background: rgba(30, 0, 48);
    color: rgb(250, 250, 250);
    position: sticky;
    top: 0;
    z-index: 1;
}

.dropdown-contentCalc {
    display: none;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 380px; /* Adjust height as needed */
width: 870px;
margin-bottom: 60px;
box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3) ;

}

.dropdown-contentCalc.active {
    display: block;
}
.doughnut-chart-container {
    position: relative;
    width: 300px; /* Or adjust to your desired width */
    height: 225px; /* Or adjust to your desired height */
    
}

.doughnut-chart-container canvas {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 50px;
    background: rgba(30, 0, 48);
padding: 8px;
padding-top: 10px;

border-radius: 5px;
}
.line-chart-container canvas {
background: rgba(30, 0, 48);
padding: 10px;
border-radius: 5px;
}
.line-chart-container {
    position: relative;
    width: 100%; /* Or adjust to your desired width */
    height: 85%;
    }
.tableHold {
    justify-content: center;
    width: 50%;
}
@media screen and (max-width: 1470px) {
    .monPay {
        font-size: 20px;
        padding-top: 12px;
        padding-left: 12px;
        color: rgba(30, 0, 48, 0.99);
    font-weight: 700;
    text-decoration: underline;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    .monPay2 {
        font-size: 18px;
        padding-top: 2px;
        padding-left: 12px;
        color: rgba(30, 0, 48, 0.99);
        font-weight: 500;
    
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    .monPay3 {
        font-size: 18px;
        font-weight: 500;
    
        padding-left: 12px;
        color: rgba(30, 0, 48, 0.99);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    .doom {
flex-direction: column;        width: 100%;
        gap: 2px;
    }
    .popUp {
        flex: 1; /* Grow to fill remaining space */
        background: linear-gradient(to right, rgba(230, 230, 230, 0.99),rgba(226, 226, 226, 0.969));
        width: 100%;
        height: fit-content;
        border-radius: 5px;
        color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #000000;
    margin-bottom: auto;
    margin-top: auto;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.9) ;
    border: 1px solid #afafaf2f;
    }
    .mince {
flex-direction: column; 
width: 100%;
padding-top: 300px;
gap: 2px;   
}
.tableHold {
    justify-content: center;
    width: 100%;
}
    .popUp2 {
        flex: 1; /* Grow to fill remaining space */
        background: linear-gradient(to right, rgba(233, 233, 233, 0.99),rgba(211, 211, 211, 0.969));
        width: 98%;
        padding: 18px;
        padding-top: 0px;
        margin-left: auto;
        margin-right: auto;
        justify-content: flex-end;
        border-radius: 5px;
        margin-left: 8px;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.9) ;
        border: 1px solid #afafaf2f;
    margin-bottom: 14px;
    }
    .containerDad {
        flex-direction: column;
        height: 100%;
        gap: 14px;
        padding-top: 16px;
      }
      .split-container {
        display: flex;
        flex-direction: column;
        height: 86%;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 8px;
        margin-top: 500px;
        margin-left: auto;
    }
    .drops {
        margin-top: 20px;
width: 100%;
    }
    .calcForm {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 24px;

        border: 1px solid #000000;
        color: #ddd;
        border-radius: 5px;
        padding: 10px;
        padding-top: 0px;
        width: 100%;
    }
    .containerCalc {
        width: 60%;
        height: 50%;
        margin-right: auto;
        margin-left: auto;  }
      .textChart {
        display: flex;
    }
    .dropdown-contentCalc {
        display: none;
        overflow-y: auto;
        margin-left: auto;
        margin-right: auto;
        max-height: 380px; /* Adjust height as needed */
    width: 94%;
    margin-bottom: 60px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3) ;
    
    }
}
@media screen and (max-width: 1020px) {
    .mince {
        flex-direction: column; 
        width: 100%;
        padding-top: 340px;
        gap: 2px;   
        }
    .calcForm {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 12px;

        border: 1px solid #000000;
            color: #ddd;
        border-radius: 5px;
        padding: 10px;
        padding-top: 0px;
        width: 100%;
    }
    .containerCalc {
        width: 90%;
        height: 42%;
        margin-right: auto;
        margin-left: auto;  }
      .textChart {
        display: flex;
    }
.simpin {  
    font-size: 14px;
}
.popUp {
    flex: 1; /* Grow to fill remaining space */
    width: 96%;
    border-radius: 5px;
    border: 1px solid #000000;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
}
.popUp2 {
    flex: 1; /* Grow to fill remaining space */
    width: 98%;
    justify-content: flex-end;
    border-radius: 5px;
    border: 1px solid #000000;
margin-left: auto;
margin-right: auto;
}

.monPay {
    font-size: 18px;
    padding-top: 25px;
    padding-left: 20px;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.monPay2 {
    font-size: 16px;
    padding-top: 2px;
    padding-left: 20px;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.monPay3 {
    font-size: 16px;
    padding-left: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

}
@media screen and (max-width: 720px) {
    .calcForm {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 24px;

        border: 1px solid #000000;
            color: #ddd;
        border-radius: 5px;
        padding: 10px;
        padding-top: 0px;
        width: 100%;
    }
    .containerCalc {
        width: 90%;
        height: 42%;
        margin-right: auto;
        margin-left: auto;  }
      .textChart {
        display: flex;
    }
.simpin {  
    font-size: 14px;
}
.popUp {
    flex: 1; /* Grow to fill remaining space */
    width: 96%;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #000000;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
}
.popUp2 {
    flex: 1; /* Grow to fill remaining space */
    width: 98%;
    justify-content: flex-end;
    border-radius: 5px;
    border: 1px solid #000000;
margin-left: auto;
margin-right: auto;
}

.monPay {
    font-size: 14px;
    padding-top: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.monPay2 {
    font-size: 12px;
    padding-top: 2px;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.monPay3 {
    font-size: 12px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.scheduleButts {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
}
@media screen and (max-width: 620px) {
    .monPay {
        font-size: 14px;
        padding-top: 25px;
        padding-left: 0px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .monPay2 {
        font-size: 12px;
        padding-top: 2px;
        padding-left: 0px;

    
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .monPay3 {
        font-size: 12px;
        padding-left: 0px;

        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .doughnut-chart-container canvas {
        position: absolute;
        top: 0;
        right: 0;
        margin: 4px;
        background: rgba(30, 0, 48);
    padding: 8px;
    padding-top: 10px;
    
    border-radius: 5px;
    }
    .calcForm {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 14px;

        border: 1px solid #000000;
            color: #ddd;
        border-radius: 5px;
        padding: 10px;
        padding-top: 0px;
        width: 100%;
    }
    .mince {
        flex-direction: column; 
        width: 100%;
        padding-top: 270px;
        gap: 2px;   
        }
    .split-container {
        display: flex;
        flex-direction: column;
        height: 86%;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 8px;
        margin-top: 300px;
        margin-left: auto;
    }
    .month {
        font-size: 14px;
    }
    .downPDF {
        font-size: 14px;
    }
    .annual  {
        font-size: 14px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    
    }
    .containerCalc {
        width: 90%;
        height: 50%;
        margin-right: auto;
        margin-left: auto;  }
      .textChart {
        display: flex;
    }
.simpin {  
    font-size: 14px;
}

th, td {
    border: 1px solid #000000;
    padding: 4px;
    background-color: #f2f2f2;
    font-size: 14px;
    text-align: center;
}
th {
    background: rgba(30, 0, 48, 0.99);
    color: rgb(250, 250, 250);
    position: sticky;
    top: 0;
    z-index: 1;
}
}

@media screen and (max-width: 540px) {
    .popUp {
        padding-bottom: 200px;
        width: fit-content;
    }
    .mince {
        flex-direction: column; 
        width: 100%;
        padding-top: 400px;
        margin-top: 20px;
        gap: 2px;   
        }
    .calcForm {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 8px;

        border: 1px solid #000000;
        border-radius: 5px;
        padding: 10px;
        padding-top: 0px;
        width: 100%;
    }
    .month {
        font-size: 12px;
    }

    .downPDF {
        font-size: 12px;
    }
    .annual  {
        font-size: 12px;

    }
.calculate {
    font-size: 14px;
}
.resetCalc {
    font-size: 14px;
}
    .monPay {
        font-size: 18px;
        padding-top: 5px;
        padding-left: 0px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .monPay2 {
        font-size: 16px;
        padding-top: 2px;
        padding-left: 0px;
    
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .monPay3 {
        font-size: 16px;
        padding-left: 0px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .split-container {
        display: flex;
        flex-direction: column;
        height: 86%;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 8px;
        margin-top: 450px;
        margin-left: auto;
    }
    .containerCalc {
        width: 90%;
        height: 50%;
        margin-right: auto;
        margin-left: auto;  }
      .textChart {
        display: flex;
    }
    .textChart {
        flex-direction: column;
    }
    .doughnut-chart-container {
        position: relative;
        width: 70%;
    margin-left: auto;
    margin-right: auto;

    }

.simpin {  
    font-size: 12px;
}
.text-container {
    text-align: center;
    height: fit-content;
}
th, td {
    border: 1px solid #000000;
    padding: 4px;
    background-color: #f2f2f2;
    font-size: 12px;
    text-align: center;
}
th {
    background: rgba(30, 0, 48, 0.99);
    color: rgb(250, 250, 250);
    position: sticky;
    top: 0;
    z-index: 1;
}
.scheduleButts {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
}
@media screen and (max-width: 390px) {
    .popUp {
        padding-bottom: 200px;
        width: fit-content;
    }
    .mince {
        flex-direction: column; 
        width: 100%;
        padding-top: 400px;
        margin-top: 40px;
        gap: 2px;   
        }
    .calcForm {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 8px;

        border: 1px solid #000000;
        border-radius: 5px;
        padding: 10px;
        padding-top: 0px;
        width: 100%;
    }
    .month {
        font-size: 12px;
    }

    .downPDF {
        font-size: 12px;
    }
    .annual  {
        font-size: 12px;

    }
.calculate {
    font-size: 14px;
}
.resetCalc {
    font-size: 14px;
}
    .monPay {
        font-size: 18px;
        padding-top: 5px;
        padding-left: 0px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .monPay2 {
        font-size: 16px;
        padding-top: 2px;
        padding-left: 0px;
    
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .monPay3 {
        font-size: 16px;
        padding-left: 0px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .split-container {
        display: flex;
        flex-direction: column;
        height: 86%;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 8px;
        margin-top: 450px;
        margin-left: auto;
    }
    .containerCalc {
        width: 90%;
        height: 50%;
        margin-right: auto;
        margin-left: auto;  }
      .textChart {
        display: flex;
    }
    .textChart {
        flex-direction: column;
    }
    .doughnut-chart-container {
        position: relative;
        width: 70%;
    margin-left: auto;
    margin-right: auto;

    }

.simpin {  
    font-size: 12px;
}
.text-container {
    text-align: center;
    height: fit-content;
}
th, td {
    border: 1px solid #000000;
    padding: 4px;
    background-color: #f2f2f2;
    font-size: 12px;
    text-align: center;
}
th {
    background: rgba(30, 0, 48, 0.99);
    color: rgb(250, 250, 250);
    position: sticky;
    top: 0;
    z-index: 1;
}
.scheduleButts {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
}
@media screen and (max-width: 375px) {
    .popUp {
        padding-bottom: 200px;
        width: fit-content;
    }
    .mince {
        flex-direction: column; 
        width: 100%;
        padding-top: 480px;
        margin-top: 60px;
        gap: 2px;   
        }
    .calcForm {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 8px;

        border: 1px solid #000000;
        border-radius: 5px;
        padding: 10px;
        padding-top: 0px;
        width: 100%;
    }
    .month {
        font-size: 12px;
    }

    .downPDF {
        font-size: 12px;
    }
    .annual  {
        font-size: 12px;

    }
.calculate {
    font-size: 14px;
}
.resetCalc {
    font-size: 14px;
}
    .monPay {
        font-size: 18px;
        padding-top: 5px;
        padding-left: 0px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .monPay2 {
        font-size: 16px;
        padding-top: 2px;
        padding-left: 0px;
    
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .monPay3 {
        font-size: 16px;
        padding-left: 0px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .split-container {
        display: flex;
        flex-direction: column;
        height: 86%;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 8px;
        margin-top: 450px;
        margin-left: auto;
    }
    .containerCalc {
        width: 90%;
        height: 50%;
        margin-right: auto;
        margin-left: auto;  }
      .textChart {
        display: flex;
    }
    .textChart {
        flex-direction: column;
    }
    .doughnut-chart-container {
        position: relative;
        width: 70%;
    margin-left: auto;
    margin-right: auto;

    }

.simpin {  
    font-size: 12px;
}
.text-container {
    text-align: center;
    height: fit-content;
}
th, td {
    border: 1px solid #000000;
    padding: 4px;
    background-color: #f2f2f2;
    font-size: 12px;
    text-align: center;
}
th {
    background: rgba(30, 0, 48, 0.99);
    color: rgb(250, 250, 250);
    position: sticky;
    top: 0;
    z-index: 1;
}
.scheduleButts {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
}