.containerDad {
    display: flex;
  }
  
  .containerCalc {
    width: 25%;
  }
  .textChart {
    display: flex;
}

.text-container {
    margin-right: 20px; /* Add some space between text and chart */
}

.doughnut-chart-container {
    flex: 1; /* Allow the chart container to grow to take remaining space */
}
.amortTitle {
    background-color: rgb(85, 85, 226);
    border-radius: 5px;
}
  .popUp {
    flex-grow: 1;
    margin: 5px;
    padding: 8px;
    background: hsla(0, 0%, 73%, 0.969);
}
form {
    margin: auto;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.dropdown-content {
    display: none;
    overflow-y: auto;
    max-height: 200px; /* Adjust height as needed */
}

.dropdown-content.active {
    display: block;
}