.calculator-container {
  min-width: 33%;
  max-width: 33%;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background: linear-gradient(to right, rgba(233, 233, 233, 0.99),rgba(211, 211, 211, 0.969));
  color: #fff;
  margin-right: 22px;
  margin-top: 100px; /* Set top margin to auto */
  margin-bottom: auto; /* Set bottom margin to auto */
  height: 90%;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Align children vertically */
  justify-content: center;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.8) ;

  }
.cups {
  display: flex;
}
  .input-section {
    margin-bottom: 10px;
  }
  
  .input-section label {
    display: block;
  }

  .input-section .dollar-input {
    display: flex;
    align-items: center;
  }
  
  input[type='number'] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .input-with-icon {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .dollar-input {
    display: flex;
    align-items: center;
  }

  
  .dollar-input input {
    flex: 1;
    padding: 8px; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .result {
    margin-top: 15px;
    font-size: 18px;
  }
  .results-container {
    background: rgba(30, 0, 48, 0.99);
    color: #fff;
width: 15%;
padding: 10px;
border-radius: 5px;

  }
  .bigHold {
    display: flex;
    justify-content: space-between;
    margin: 20px;
margin-top: 0px;   
padding-top: 20px; 
  }

  .meth  {

margin-top: 10px;

  }

  .rentCalchead {
    border-radius: 5px;
    padding: 8px;
    background-color: #1e0030fc;
    font-size: 26px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: #fff;
  }
  .rentButton {
    display: block;
    width: fit-content;
    height: fit-content;
    background-color:#1e0030fc ;
padding: 8px;
width: 25%;
color: white;
border-radius: 1px;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
font-size: 18px;
border: 1px solid #979797a6;
margin: 0 auto;
border-radius: 3px;
}
.rentButton:hover {
    background-color:#7800bdfb ;
}
.rentButton:active {
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }
  .rentCalchead1 {
    border-radius: 5px;
    padding: 6px;
    background-color: #1e0030fc;
    font-size: 26px;
width: 100%;
text-align: center;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
color: #fff;

  }
  label {
    font-size: 18px;
    margin-bottom: 2px;
    color: #1e0030fc;
font-weight: 600;
  }
  .expensive {
    display: flex;
    margin: 8px;
    margin-top: 4px;

  }
.headie1 {
  width: 100%;
  background: linear-gradient(to right, rgba(233, 233, 233, 0.99),rgba(211, 211, 211, 0.969));
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  color: #1e0030fc;
  border-radius: 5px;
border: 1px solid #000000;
margin-bottom: 6px;
box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4) ;
font-weight: 500;

}
.headie2 {
  width: 100%;
  background: linear-gradient(to right, rgba(233, 233, 233, 0.99),rgba(211, 211, 211, 0.969));
  padding: 8px;
  color: #1e0030fc;
  margin-left: auto;
margin-right: auto;
border-radius: 5px;
border: 1px solid #000000;
margin-bottom: 6px;
box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4) ;
font-size: larger;
font-weight: 500;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

}
.ppl1 {
width: 33.33%;
font-size: 22px;
text-align: center;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
color: #1e0030fc;
font-weight: 500;

}
.ppl2 {
  width: 33.33%;
  font-size: 22px;
text-align: center;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
color: #1e0030fc;
font-weight: 500;

}
.ppl3 {
  width: 33.33%;
  font-size: 22px;
text-align: center;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
color: #1e0030fc;
font-weight: 500;

}
.riskL {
  width: 100%;
  background: linear-gradient(to right, rgba(233, 233, 233, 0.99),rgba(211, 211, 211, 0.969));
  padding: 8px;
  color: #1e0030fc;
  border-radius: 5px;
border: 1px solid #000000;
box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4) ;
font-size: 20px;

}
@media screen and (max-width: 1400px) {
  .bigHold {
    display: flex;
    flex-direction: column;
    margin: 20px;
margin-top: 0px;   
padding-top: 30px; 
  }
  .calculator-container {
min-width: 96%;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background: rgba(30, 0, 48, 0.99);
    color: #fff;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
    height: 90%;
    flex-direction: column; /* Align children vertically */
    justify-content: center;
    }
    .meth  {
      font-size: 18px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
      min-width: 99%;
      background: rgba(30, 0, 48, 0.99);
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #000000;
  margin-bottom: 4px;
    }
}
@media screen and (max-width: 1180px) {
  input[type='number'] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .input-with-icon {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .dollar-input {
    display: flex;
    align-items: center;
  }

  
  .dollar-input input {
    flex: 1;
    padding: 8px; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .result {
    margin-top: 15px;
    font-size: 16px;
  }
  .results-container {
    background: rgba(30, 0, 48, 0.99);
    color: #fff;
width: 15%;
padding: 10px;
border-radius: 5px;

  }
  .bigHold {
    display: flex;
    justify-content: space-between;
    margin: 20px;
margin-top: 0px;   
padding-top: 30px; 
  }

  .meth  {
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    width: 85%;
    background: rgba(30, 0, 48, 0.99);
padding: 8px;
color: #fff;
border-radius: 5px;
border: 1px solid #000000;
  }
  .meth:hover {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3) ;
  }
  .rentCalchead {
    border-radius: 5px;
    padding: 8px;
    background-color: #5b028ffb;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: #fff;
  }
  .rentButton {
    display: block;
    margin: 0 auto;
  }
  .rentCalchead1 {
    border-radius: 5px;
    padding: 6px;
    background-color: #5b028ffb;
    font-size: 18px;
width: 100%;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
color: #fff;

  }
  label {
    font-size: 16px;
    margin-bottom: 2px;
  }
  .expensive {
    flex-direction: column;
    margin: 8px;
    margin-top: 4px;

  }
.headie1 {
  width: 100%;
}
.headie2 {
  width: 100%;
  font-size: 20px;
padding: 4px;
padding-top: 0px;

}
.ppl {
  font-size: 18px;
}
}
@media screen and (max-width: 780px) {
  input[type='number'] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
  }
  .input-with-icon {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .dollar-input {
    display: flex;
    align-items: center;
  }

  
  .dollar-input input {
    flex: 1;
    padding: 8px; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .result {
    margin-top: 15px;
    font-size: 12px;
  }
  .results-container {
    background: rgba(30, 0, 48, 0.99);
    color: #fff;
width: 15%;
padding: 10px;
border-radius: 5px;

  }
  .bigHold {
    display: flex;
    justify-content: space-between;
    margin: 20px;
margin-top: 0px;   
padding-top: 30px; 
  }

  .meth  {
    font-size: 12px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    width: 85%;
    background: rgba(30, 0, 48, 0.99);
padding: 8px;
color: #fff;
border-radius: 5px;
border: 1px solid #000000;
  }
  .meth:hover {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3) ;
  }
  .rentCalchead {
    border-radius: 5px;
    padding: 8px;
    background-color: #5b028ffb;
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: #fff;
  }
  .rentButton {
    display: block;
    margin: 0 auto;
  }
  .rentCalchead1 {
    border-radius: 5px;
    padding: 6px;
    background-color: #5b028ffb;
    font-size: 16px;
width: 100%;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
color: #fff;

  }
  label {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .expensive {
    flex-direction: column;
    margin: 8px;
    margin-top: 4px;

  }
.headie1 {
  width: 100%;
}
.headie2 {
  width: 100%;
  font-size: 17px;
padding: 4px;
padding-top: 0px;

}
.ppl {
  font-size: 14px;
}
}
@media screen and (max-width: 490px) {
  input[type='number'] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
  }
  .input-with-icon {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .dollar-input {
    display: flex;
    align-items: center;
  }

  
  .dollar-input input {
    flex: 1;
    padding: 8px; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .result {
    margin-top: 15px;
    font-size: 12px;
  }
  .results-container {
    background: rgba(30, 0, 48, 0.99);
    color: #fff;
width: 15%;
padding: 10px;
border-radius: 5px;

  }
  .bigHold {
    display: flex;
    justify-content: space-between;
    margin: 20px;
margin-top: 0px;   
padding-top: 30px; 
  }

  .meth  {
    font-size: 12px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    width: 85%;
    background: rgba(30, 0, 48, 0.99);
padding: 8px;
color: #fff;
border-radius: 5px;
border: 1px solid #000000;
  }
  .meth:hover {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3) ;
  }
  .rentCalchead {
    border-radius: 5px;
    padding: 8px;
    background-color: #5b028ffb;
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: #fff;
  }
  .rentButton {
    display: block;
    margin: 0 auto;
  }
  .rentCalchead1 {
    border-radius: 5px;
    padding: 6px;
    background-color: #5b028ffb;
    font-size: 16px;
width: 100%;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
color: #fff;

  }
  label {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .expensive {
    display: flex;
    margin: 8px;
    margin-top: 4px;

  }
.headie1 {
  width: 100%;
}
.headie2 {
  width: 100%;
  font-size: 17px;
padding: 4px;
padding-top: 0px;

}
.ppl {
  font-size: 14px;
}
}