.calculator-container {
  min-width: 33%;
  max-width: 33%;
  padding: 20px;
  border-radius: 5px;
  background: white;
  color: #fff;
  margin-right: 22px;
  margin-bottom: auto; /* Set bottom margin to auto */
  height: 90%;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Align children vertically */
  justify-content: center;
  padding-top: 210px;

  }
.cups {
  display: flex;
}
  .input-section {
    margin-bottom: 10px;
  }
  
  .input-section label {
    display: block;
  }

  .input-section .dollar-input {
    display: flex;
    align-items: center;
  }
  
  input[type='number'] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
    font-size: 16px;
  }
  .input-with-icon {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .dollar-input {
    display: flex;
    align-items: center;
  }

  
  .dollar-input input {
    flex: 1;
    padding: 8px; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .result {
    margin-top: 15px;
    font-size: 18px;
  }
  .results-container {
    background: linear-gradient(to right, rgba(41, 41, 41, 0.99), rgba(71, 71, 71, 0.984),rgba(85, 85, 85, 0.969));
    color: #fff;
width: 15%;
padding: 10px;
border-radius: 5px;

  }
  .bigHold {
    display: flex;
    justify-content: space-between;
    margin: 20px;
margin-top: 0px;   
padding-top: 20px; 
  }

  .meth  {

margin-top: auto;
margin-bottom: auto;
padding-top: 160px;
padding-right: 12px;
  }

  .rentCalchead {
    border-radius: 5px;
    padding: 8px;
    background: linear-gradient(to right, rgba(26, 0, 0, 0.99),rgba(41, 0, 0, 0.99));
    font-size: 26px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: #fff;
  }
  .rentButton {
    display: block;
    width: fit-content;
    height: fit-content;
    background: linear-gradient(to right, rgba(26, 0, 0, 0.99),rgba(41, 0, 0, 0.99));
    padding: 8px;
width: 25%;
color: white;
border-radius: 1px;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
font-size: 18px;
border: 1px solid #979797a6;
margin: 0 auto;
border-radius: 3px;
}
.rentButton:hover {
  background: linear-gradient(to left, rgba(26, 0, 0, 0.99),rgba(41, 0, 0, 0.99));
}
.miniP {
  text-align: center;
  color: #000000;
  font-size: 22px;
  font-weight: 400;

}
.bigP {
  text-align: center;
  color: #000000;
font-size: 24px;
font-weight: 600;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;

}
.rentButton:active {
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }
  .leftMini  {
margin-right: 30px;
transition: all 1s ease-in-out;
cursor: pointer;

  }
  .leftMini:hover  {
    transform: scale(1.05);

      }
  .rightMini  {
    margin-left: 30px;
    transition: transform 0.3s ease-in-out;
cursor: pointer;
  }
  .rightMini:hover  {
    transform: scale(1.01);

      }
  .rentCalchead1 {
    border-radius: 5px;
    padding: 6px;
    background: linear-gradient(to right, rgba(26, 0, 0, 0.99),rgba(41, 0, 0, 0.99));
    font-size: 26px;
width: 100%;
text-align: center;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
color: #fff;

  }
  label {
    font-size: 18px;
    margin-bottom: 2px;
    color: black;
font-weight: 500;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;

  }
  .expensive {
    display: flex;
    margin: 8px;
    margin-top: 4px;

  }
.headie1 {
  width: 100%;
  background: white;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-radius: 5px;
margin-bottom: 6px;
font-weight: 500;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;

}
.headie2 {
  width: 100%;
  background: white;
  padding: 8px;
  margin-left: auto;
margin-right: auto;
border-radius: 5px;
margin-bottom: 6px;
font-size: larger;
font-weight: 500;
color: #000000fc;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;

}
.ppl1 {
width: 33.33%;
font-size: 20px;
text-align: center;
color: #000000fc;
font-weight: 500;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;

}
.ppl2 {
  width: 33.33%;
  font-size: 20px;
text-align: center;
color: #000000fc;
font-weight: 500;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;

}
.ppl3 {
  width: 33.33%;
  font-size: 20px;
text-align: center;
color: #000000fc;
font-weight: 500;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;


}
.riskL {
  width: 100%;
  background: white;
  padding: 8px;
  color: #1e0030fc;
  border-radius: 5px;
font-size: 20px;
min-height: 325px;
min-height: 325px;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;

}
@media screen and (max-width: 1400px) {
  .calculator-container {
    
    margin-top: 10px; /* Set top margin to auto */
    margin-bottom: auto; /* Set bottom margin to auto */
    height: 90%;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Align children vertically */
    justify-content: center;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.8) ;
  
    }
  .bigHold {
    display: flex;
    flex-direction: column;
    margin: 8px;
margin-top: 0px;  
max-height: 90vh;
overflow-y: scroll; 
  }
  .calculator-container {
min-width: 96%;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
    height: 90%;
    flex-direction: column; /* Align children vertically */
    justify-content: center;
    }
    .meth  {
      font-size: 18px;
      min-width: 99%;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-bottom: 4px;
    }
}
@media screen and (max-width: 1180px) {
  input[type='number'] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .input-with-icon {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .dollar-input {
    display: flex;
    align-items: center;
  }

  
  .dollar-input input {
    flex: 1;
    padding: 8px; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .result {
    margin-top: 15px;
    font-size: 16px;
  }
  .results-container {
width: 15%;
padding: 10px;
border-radius: 5px;

  }
  .bigHold {
    display: flex;
    justify-content: space-between;
    margin: 8px;
margin-top: 0px;   
  }

  .meth  {
    font-size: 16px;
    width: 85%;
padding: 8px;
border-radius: 5px;
  }
  .meth:hover {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3) ;
  }
  .rentCalchead {
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }
  .rentButton {
    display: block;
    margin: 0 auto;
  }
  .rentCalchead1 {
    border-radius: 5px;
    padding: 6px;
    font-size: 18px;
width: 100%;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

  }
  label {
    font-size: 16px;
    margin-bottom: 2px;
  }
  .expensive {
    flex-direction: column;
    margin: 8px;
    margin-top: 4px;

  }
.headie1 {
  width: 100%;
}
.headie2 {
  width: 100%;
  font-size: 20px;
padding: 4px;
padding-top: 8px;

}
.ppl1 {
  width: 33.33%;
  font-size: 18px;
  text-align: center;
  color: #1e0030fc;
  font-weight: 500;
  
  }
  .ppl2 {
    width: 33.33%;
    font-size: 18px;
  text-align: center;
  color: #1e0030fc;
  font-weight: 500;
  
  }
  .ppl3 {
    width: 33.33%;
    font-size: 18px;
  text-align: center;
  color: #1e0030fc;
  font-weight: 500;
  
  }
}
@media screen and (max-width: 780px) {
  input[type='number'] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
  }
  .input-with-icon {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .dollar-input {
    display: flex;
    align-items: center;
  }

  
  .dollar-input input {
    flex: 1;
    padding: 8px; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .ppl1 {
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    
    }
    .ppl2 {
      width: 100%;
      font-size: 18px;
    text-align: center;
    font-weight: 500;
    
    }
    .ppl3 {
      width: 100%;
      font-size: 18px;
    text-align: center;
    font-weight: 500;
    
    }
    .cups {
flex-direction: column;    }
  .result {
    margin-top: 15px;
    font-size: 12px;
  }
  .results-container {
width: 15%;
padding: 10px;
border-radius: 5px;

  }
  .bigHold {
    display: flex;
    justify-content: space-between;
    margin: 8px;
margin-top: 0px;   
  }

  .meth  {
    font-size: 12px;
    width: 85%;
padding: 8px;
border-radius: 5px;
  }
  .meth:hover {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3) ;
  }
  .rentCalchead {
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }
  .rentButton {
    display: block;
    margin: 0 auto;
  }
  .rentCalchead1 {
    border-radius: 5px;
    padding: 6px;
    font-size: 16px;
width: 100%;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

  }
  label {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .expensive {
    flex-direction: column;
    margin: 8px;
    margin-top: 4px;

  }
.headie1 {
  width: 100%;
}
.headie2 {
  width: 100%;
  font-size: 17px;
padding: 4px;
padding-top: 8px;

}
.ppl {
  font-size: 14px;
}
}
@media screen and (max-width: 490px) {
  input[type='number'] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
  }
  .input-with-icon {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .dollar-input {
    display: flex;
    align-items: center;
  }

  
  .dollar-input input {
    flex: 1;
    padding: 8px; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .result {
    margin-top: 15px;
    font-size: 12px;
  }
  .results-container {
width: 15%;
padding: 10px;
border-radius: 5px;

  }
  .bigHold {
    display: flex;
    justify-content: space-between;
    margin: 8px;
margin-top: 0px;   
  }

  .meth  {
    font-size: 12px;
    width: 85%;
padding: 8px;
border-radius: 5px;
  }
  .meth:hover {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3) ;
  }
  .rentCalchead {
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }
  .rentButton {
    display: block;
    margin: 0 auto;
    font-size: 14px;
  }
  .rentCalchead1 {
    border-radius: 5px;
    padding: 6px;
    font-size: 16px;
width: 100%;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

  }
  label {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .expensive {
    display: flex;
    margin: 8px;
    margin-top: 4px;

  }
.headie1 {
  width: 100%;
}
.headie2 {
  width: 100%;
  font-size: 17px;
padding: 4px;
padding-top: 8px;

}
.ppl1 {
  width: 100%;
  font-size: 18px;
  text-align: center;

  font-weight: 500;
  
  }
  .ppl2 {
    width: 100%;
    font-size: 18px;
  text-align: center;

  font-weight: 500;
  
  }
  .ppl3 {
    width: 100%;
    font-size: 18px;
  text-align: center;

  font-weight: 500;
  
  }
}