
.homePage {
  width: 100%;
  height: 100dvh;
}
.home {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: background 6s ease-in-out ;
}
.overLay {
  background-color: rgba(0, 0, 0, 0.18);
  height: 100%;
  width: 100%;
}
.imgContainer {
padding: 0px;
}
.mainimg {
  position: absolute;
  padding: 15px;
  height: 100%;
  padding-left: 110px;
  height: 100vh;
  padding-bottom: 0px;

}
.textBox {
  font-size: 60px;
  color: azure;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  padding-top: 170px;
  padding-right: 110px;
  width: 50%;
  float: right;
  text-align:left;
  box-sizing: border-box;
  
}
.textBox  h1{
  font-size: 45px;
  float: left;
  text-align:left;
  padding-left: 0px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9); /* horizontal offset, vertical offset, blur radius, color */

}
.textBox  h2{
  font-size: 40px;
  float: left;
  text-align:left;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9); /* horizontal offset, vertical offset, blur radius, color */

}
.textBox p {
  font-size: 30px;
  float: left;
  text-align:left;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9); /* horizontal offset, vertical offset, blur radius, color */

}
.contactBtn {
  width: 200px;
  float: left;
font-size: 20px;
  color: #fff;
  padding: 6px;
  background: linear-gradient(to right, var(--primary),rgba(52, 0, 83, 0.990), #520081fb,#663994);
  cursor: pointer;
  border: 1px solid #afafaf2f;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
border-radius: 5px;
text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9); /* horizontal offset, vertical offset, blur radius, color */

}
.contactBtn:hover {
  background: linear-gradient(to left, var(--primary),rgba(52, 0, 83, 0.990), #520081fb,#663994);
}
.contactBtn:active {
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}
@media screen and (max-width: 1455px) {
  .overLay {
    display: flex;
    justify-content: center;
  }
  .textBox {
    width: 100%;
    padding: 15px;
    padding-top: 45px;
    text-align: center;
    align-items: center;
    
  }
  .contactBtn {
    align-items: center;
  }
  .mainimg {
    padding: 10px;
    border-radius: 200px;
    height: 450px;
    width: auto;
    top: 375px; 
    margin-top: 5px;
    padding-top: 15px;
  }
  .textBox h1 {
    font-size: 35px;
    text-align: center;
  }

  .textBox h2 {
    font-size: 30px;
    text-align: center;

  }

  .textBox p {
    font-size: 25px;
    text-align: center;
margin-bottom: 0px;
  }
}
@media screen and (max-width: 938px) {
  .overLay {
    display: flex;
    justify-content: center;

  }
  .textBox {
    width: 100%;
    padding-top: 50px;
    text-align: center;
  }

  .mainimg {
    padding: 10px;
    border-radius: 200px;
    height: 400px;
    top: 450px; 
    margin-top: 5px;
    padding-top: 15px;
}

  .textBox h1 {
    font-size: 30px;
    text-align: center;
  }

  .textBox h2 {
    font-size: 25px;
    text-align: center;

  }

  .textBox p {
    font-size: 20px;
    text-align: center;
margin-bottom: 0px;
  }
  .contactBtn {
    margin-top: 5px;
width: 200px;
  }

}
