
.confirm {
  display: flex;
gap: 10px;
margin-left: auto;
margin-right: auto;
}
.underLay {
  display: flex;
align-items: center; 
justify-content: center; 
padding-top: 30px;
padding-bottom: 50px;

}
.mines {
  display: flex;
  justify-content: space-between;
}
.arizona {
  color: var(--primary);
  margin-top: 10px;
  padding: 6px;
  font-size: 22px;
  font-weight: 650;
  text-shadow: 1px 1px 2px black;
text-align: center;
}
.buzi {
  margin-top: 6px;
}
.venn-diagram {
width: 55%;
height: auto;
background-color:rgb(243, 243, 243);

margin-right: auto;
margin-left: auto;
justify-content: center;
align-items: center;
border-radius: 5px;
box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
margin-top: 30px;
}
.dober {
  flex-direction: row;
  padding-right: 30px;
}
.conImg {
padding: 0px;
z-index: 3;
height: 200px;
width: 200px;
border-radius: 100%;
box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5) ;
margin-top: 50px;
margin-left: 40px;
background: linear-gradient(to right, var(--primary),rgba(52, 0, 83, 0.990), #520081fb,#663994);
}
.standIn {
  height: fit-content;
  width: 98.5%;
  margin: 8px;
  font-size: 22px;
  border-radius: 5px;
  font-weight: 500;
  padding: 12px;
	text-shadow: 3px 3px 6px black;
  margin-top: 0px;
  color: var(--primary);
}
.standIn2 {
  height: fit-content;
  width: 100%;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 44px;

  text-align:center;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 32px;
	color: #ffffff;
  font-weight: 700;
  border-radius: 5px;
	text-shadow: 3px 3px 6px black;
  background: var(--primary);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
}
.looki {
  display: flex;
  gap: 26px;
}

.contact--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  gap: 12px;
  width: fit-content;
  padding: 12px;
  height: auto;
  background-color:rgb(247, 242, 252);
  border-radius: 3px;
  margin-top: 35px;
  margin-bottom: auto;
  margin-right: auto;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.9) ;
}
.contact--form--container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  width: 100%;
  row-gap: 12px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 60px;
  row-gap: 20px;
  width: 100%;
padding: 0px;
}
.stress {
  padding-left: 12px;
  padding-right: 12px;
}
.contact--label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14.6px;
  flex: 1 0 0;
  width: 100%;
}
.contact--input {
  display: flex;
  font-family: "Roboto";
  padding: 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  width: 100%;
  border: 1.333px solid var(--primary);
  background: var(--white);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Some browsers will not display the caret when using calc, so we put the fallback first */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 21.2052C16.2374 21.4981 15.7626 21.4981 15.4697 21.2052L7.82318 13.5587C7.53029 13.2658 7.53029 12.791 7.82318 12.4981L8.17674 12.1445C8.46963 11.8516 8.9445 11.8516 9.2374 12.1445L16 18.9071L22.7626 12.1445C23.0555 11.8516 23.5303 11.8516 23.8232 12.1445L24.1768 12.4981C24.4697 12.791 24.4697 13.2658 24.1768 13.5587L16.5303 21.2052Z" fill="%23033333"/></svg>')
    white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 21.2052C16.2374 21.4981 15.7626 21.4981 15.4697 21.2052L7.82318 13.5587C7.53029 13.2658 7.53029 12.791 7.82318 12.4981L8.17674 12.1445C8.46963 11.8516 8.9445 11.8516 9.2374 12.1445L16 18.9071L22.7626 12.1445C23.0555 11.8516 23.5303 11.8516 23.8232 12.1445L24.1768 12.4981C24.4697 12.791 24.4697 13.2658 24.1768 13.5587L16.5303 21.2052Z" fill="%23033333"/></svg>')
    white no-repeat calc(100% - 20px); /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand {
  display: none;
}
.checkbox--label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10.6px;
  flex: 1 0 0;
  justify-content: flex-start;
}
input[type="checkbox"] {
  width: 21px;
  height: 21px;
  border: 0.15em solid var(--heading-color);
  border-radius: 0.15em;
  transform: translatey(-0.075em);
}
.sendMe {
background: linear-gradient(to right, var(--primary),rgba(52, 0, 83, 0.990), #520081fb,#5b01b6);
margin-bottom: 10px;
color: white;
padding: 8px;
padding-left: 16px;
padding-right: 16px;
border: 1px solid #afafaf2f;
box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
border-radius: 5px;

}
.sendMe:hover {
background: linear-gradient(to left, var(--primary),rgba(52, 0, 83, 0.990), #520081fb,#5b01b6);
margin-bottom: 10px;
}
.sendMe:active {
box-shadow: 0 1px #666;
transform: translateY(1px);
}

@media screen and (max-width: 1200px) {
  .underLay {
    flex-direction: column;
    align-items: center;
  }

  .contact--section,
  .venn-diagram {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 650px) {
  .underLay {
    flex-direction: column;
    align-items: center;
  }

  .contact--section,
  .venn-diagram {
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }
    
    .conImg {
    padding: 0px;
    z-index: 3;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5) ;
    margin: 10px;
    background: linear-gradient(to right, var(--primary),rgba(52, 0, 83, 0.990), #520081fb,#663994);
    }
    .standIn {
      height: 370px;
      width: 500px;
      background: var(--primary);
      margin: 8px;
      font-size: 22px;
      border-radius: 5px;
    
      color: #ffffff;
      font-weight: 500;
      padding: 12px;
      text-shadow: 3px 3px 6px black;
      margin-top: 0px;
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
    }
    .standIn2 {
      height: 175px;
      width: 260px;
      margin-top: auto;
      margin-bottom: auto;
      text-align:center;
      padding-top: 28px;
      font-size: 18px;
      margin-right: 10px;
      color: #ffffff;
      font-weight: 500;
      border-radius: 5px;
      text-shadow: 3px 3px 6px black;
      background: var(--primary);
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
    }
    div[style*="width: 528px"] {
      width: 100%;
      max-width: 480px; /* Adjust the max-width as needed */
    }
    .looki {
      display: flex;
      gap: 2px;
    }
}
@media screen and (max-width: 520px) {
  .underLay {
    flex-direction: column;
    align-items: center;
    padding: 6px;
  }

  .contact--section,
  .venn-diagram {
    width: 400px;
    
    margin-right: auto;
    margin-left: auto;
  }
    
    .conImg {
    padding: 0px;
    z-index: 3;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5) ;
    margin: 10px;
    background: linear-gradient(to right, var(--primary),rgba(52, 0, 83, 0.990), #520081fb,#663994);
    }
    .standIn {
      height: 370px;
      width: 382px;
      background: var(--primary);
      margin: 8px;
      font-size: 22px;
      border-radius: 5px;
    
      color: #ffffff;
      font-weight: 500;
      padding: 12px;
      text-shadow: 3px 3px 6px black;
      margin-top: 0px;
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
    }
    .standIn2 {
      height: 175px;
      width: 160px;
      margin-top: auto;
      margin-bottom: auto;
      text-align:center;
      padding-top: 58px;
      font-size: 10px;
      margin-right: 10px;
      color: #ffffff;
      font-weight: 500;
      border-radius: 5px;
      text-shadow: 3px 3px 6px black;
      background: var(--primary);
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
    }
    div[style*="width: 528px"] {
      width: 100%;
      max-width: 360px; /* Adjust the max-width as needed */
    }
    .looki {
      display: flex;
      gap: 2px;
    }
}
@media screen and (max-width: 400px) {
  .underLay {
    flex-direction: column;
    align-items: center;
    padding: 6px;
  }

  .contact--section,
  .venn-diagram {
    width: 350px;
    
    margin-right: auto;
    margin-left: auto;
  }
    
    .conImg {
    padding: 0px;
    z-index: 3;
    height: 175px;
    width: 175px;
    border-radius: 100%;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5) ;
    margin: 10px;
    background: linear-gradient(to right, var(--primary),rgba(52, 0, 83, 0.990), #520081fb,#663994);
    }
    .standIn {
      height: 370px;
      width: 332px;
      background: var(--primary);
      margin: 8px;
      font-size: 22px;
      border-radius: 5px;
    
      color: #ffffff;
      font-weight: 500;
      padding: 12px;
      text-shadow: 3px 3px 6px black;
      margin-top: 0px;
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
    }
    .standIn2 {
      height: 175px;
      width: 160px;
      margin-top: auto;
      margin-bottom: auto;
      text-align:center;
      padding-top: 58px;
      font-size: 10px;
      margin-right: 10px;
      color: #ffffff;
      font-weight: 500;
      border-radius: 5px;
      text-shadow: 3px 3px 6px black;
      background: var(--primary);
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
    }
    div[style*="width: 528px"] {
      width: 100%;
      max-width: 310px; /* Adjust the max-width as needed */
    }
    .looki {
      display: flex;
      gap: 2px;
    }
  }