

/*Take note*/
section {
position: relative;
justify-content: center;
align-items: center;
display: flex;
height: fit-content;
width: 100%;
}
.ticks {
  width: 50px;
  height: 30px;
}
.mainimg199 {
  display: flex;
  position: relative;
padding: 1px;
margin-right: auto;
  margin-left: auto;
  background: rgba(46, 46, 46, 0.788);
  border-radius: 150px;
  height: 100px;
  width: 100px;
}
.fitcontainer {
  width: 100%;
display: flex;
justify-content: space-between;
  padding: 14px;
  padding-left: 220px;
  padding-right: 220px;
  padding-bottom: 2px;
}
.newsetunderLay {
  background: rgba(241, 241, 241, 0.658);
  border-top: 2px solid rgba(75, 75, 75, 0.308);
  padding-bottom: 20px;

  }
.contactinfo {
margin-top: auto;
margin-bottom: auto;
}
.megainfo {
  margin-top: auto;
  margin-bottom: auto;
  }
.lostboy {
  display: flex;
  color: #000000;
  width: 100%;
justify-content: space-between;
  padding-left: 340px;
  padding-right: 340px;
}
.lostboy1 {
  display: flex;
  color: #000000;
  width: 100%;
justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
}
.contactForm-specific {
  width: 50%;
  float: right;
  padding: 10px;

}

.formBox-specific {
  display: flex;
  flex-direction: column;
}

.inputBox-specific {
  position: relative;
  margin-bottom: 20px;
}

.inputRow-specific {
  display: flex;
  gap: 20px;
}

.inputRow-specific .inputBox-specific {
  flex: 1;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #888888;
  border-radius: 1px;
  background: #fff;
  font-size: 1em;
  transition: border-color 0.3s;
}

input:focus, textarea:focus {
  border-color: #007bff;
  outline: none;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

.inputBox-specific label {
  position: absolute;
  top: -14px;
  left: 10px;
  background: #f9f9f9;
  padding: 0 5px;
  color: #666;
  font-size: 15px;
  pointer-events: none;
  transition: all 0.3s;
}

input:focus + label, textarea:focus + label {
  color: #007bff;
}

input[type="submit"] {
  background: #727272;
  color: #fff;
  border: none;
  width: 100%;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="submit"]:hover {
  background: rgb(100, 53, 53);
}
input[type="submit"]:active {
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
.text-sm-specific {
  font-size: 0.9em;
  color: #242424;
  text-align: center;
}
.icon-specific {
  position: absolute;
  right: 10px;
  color: #666;
  top: 10px;
  pointer-events: none;
}
.icon-specific1 {
  position: absolute;
  right: 10px;
  color: #666;
  top: 10px;
  pointer-events: none;
}
.sci-hero2 {
  display: flex;
  height: fit-content;
  width: 100%;
  font-size: 22px;
  justify-content: center;
  gap: 16px;
  margin-top: 14px;
  }
  .sci-hero2 span:hover {
    transition: transform 0.3s ease-in-out; /* Smooth transition for the zoom effect */
  
    }
    .sci-hero2 span:hover {
      transform: scale(1.15); /* Scale up the element on hover */
    }
    .agentPortalButton {
      background: #727272;
      color: #fff; /* White text */
      border: none; /* Remove border */
      padding: 8px 12px; /* Small padding */
      border-radius: 1px; /* Rounded corners */
      font-size: 14px; /* Small font size */
      cursor: pointer; /* Pointer cursor on hover */
      transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
    }
    
    .agentPortalButton:hover {
      background: rgb(100, 53, 53);
    }
    
    .agentPortalButton:active {
      box-shadow: 0 1px #666;
      transform: translateY(1px);
        }
        @media screen and (max-width: 1460px) {
          .fitcontainer {
            width: 100%;
          justify-content: space-between;
          flex-direction: column;
            padding: 12px;
            padding-left: 160px;
            padding-right: 160px;
            padding-bottom: 2px;
          }
          .contactForm-specific {
            width: 100%;
            padding: 10px;
          
          }
          .lostboy {
            display: flex;
            color: #000000;
            width: 100%;
          justify-content: space-between;
            padding-left: 200px;
            padding-right: 200px;
          }
        }

        @media screen and (max-width: 890px) {
          .fitcontainer {
            width: 100%;
          justify-content: space-between;
          flex-direction: column;
            padding: 8px;
            padding-left: 60px;
            padding-right: 60px;
            padding-bottom: 2px;
          }
          .contactForm-specific {
            width: 100%;
            padding: 10px;
          
          }
          .lostboy {
            display: flex;
            color: #000000;
            width: 100%;
          justify-content: space-between;
            padding-left: 50px;
            padding-right: 50px;
          }
          .lostboy1 {
            display: flex;
            color: #000000;
            width: 100%;
          justify-content: center;
            padding-left: 60px;
            padding-right: 60px;
          }
        }
        @media screen and (max-width: 580px) {
          .fitcontainer {
            width: 100%;
          justify-content: space-between;
          flex-direction: column;
            padding: 8px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 2px;
          }
          .contactForm-specific {
            width: 100%;
            padding: 10px;
          
          }
          .lostboy {
            flex-direction: column;
            color: #000000;
            width: 100%;
            text-align: center;
          justify-content: space-between;
            padding-left: 10px;
            padding-right: 10px;
          }
          .lostboy1 {
            display: flex;
            color: #000000;
            width: 100%;
          justify-content: center;
            padding-left: 2px;
            padding-right: 2px;
          }
        }