

.missin {
  display: flex;
  color: rgb(83, 83, 83);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  cursor: pointer;
  gap: 6px;
  padding: 6px;
  text-shadow: 0px 0px 0px black;
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
text-decoration: none;
}

.missin:hover {
  color: rgb(145, 145, 145);

}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
  position: fixed !important;
  top: 28px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #afafaf41;
  z-index: 6000;
  transition: all ease-in-out 0.5s;

  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style for the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
  }
  
  /* Style for the dropdown links */
  .dropdown-content a {
    color: rgb(8, 7, 7);
    padding: 10px;
    text-decoration: none;
    display: block;
    background: rgba(240, 235, 235, 0.993);
font-weight: 600;
text-shadow: 0px 0px 0px black;
border: 0.25px solid black;
font-family: "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;

  }
  
  /* Style for the dropdown links on hover */
  .dropdown-content a:hover {
    background: rgba(99, 68, 68, 0.7);
  }

  
  .dropdown:focus-within .dropdown-content {
    display: block;
  }
  .arrow {
    margin-left: 4px;
    transform: rotate(90deg);
      }
  
  /* Style for the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.969);
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -20px;
    top: 40px;
  }
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.969);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -2px;
    top: 40px;
  }  .dropdown-content3 {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.969);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -2px;
    top: 40px;
  }
  
  /* ... (existing CSS) */
  
  /* Show the dropdown content when active */
  .dropdown.active .dropdown-content {
    display: block;
  }
  .heading-link {
    text-decoration: none;
    color: inherit;
  }
  .heading {
    display: flex;
    padding: 5px;
    padding-left: 8px;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  .heading h2 {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    color: rgb(83, 83, 83);
padding: 6px;
text-align: center;
border-right: 2px solid rgba(26, 0, 0);
padding-right: 10px;

  }

  .heading h4 {
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    color: rgb(83, 83, 83);
padding: 6px;
text-align: center;
padding-left: 10px;
  }

  .navbar--items > ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 0px;
    transition: font-size 0.2s ease; /* Add transition effect */
margin-top: 10px;
text-align: start;

  }
 
  
  .navbar--items ul > li > a {
    text-decoration: none;
    padding: 6px;
    margin: 6px;
  }
  .navbar--items ul > li > a:not(.active):hover {
    color: rgb(145, 145, 145);

  }
.headerImg  {
  margin-right: 14px;
  border-radius: 50%;
}
  /* Navbar Content */
  .navbar--content {
    color: rgb(83, 83, 83);
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    text-shadow: 0px 0px 0px black;
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    text-decoration: none;
  }
  .transformer {
    text-shadow: 0px 0px 0px black;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;

  }
  .navbar--active-content {
    background: rgba(85, 85, 85, 0.969);
  }
  .nav__hamburger {
    display: none;
    width: 2.6rem;
    height: 1.813rem;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 50px;
    right: 35px;
    cursor: pointer;

  }
  
  .nav__hamburger__line {
    display: block;
    height: 0.210rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.3s;
    outline: 2px solid rgb(37, 0, 0);

  }
  .nav__hamburger.active .nav__hamburger__line:nth-child(1) {
    transform: translateY(9.25px) rotate(45deg);
    outline: 2px solid rgb(37, 0, 0);

  }
  
  .nav__hamburger.active .nav__hamburger__line:nth-child(2) {
    opacity: 0;
  }
  
  .nav__hamburger.active .nav__hamburger__line:nth-child(3) {
    transform: translateY(-9.25px) rotate(-45deg);
        outline: 2px solid rgb(37, 0, 0);

  }
  .holderImg {
    height:60px;
    width: 80px;
padding: 1px;
margin: 4px;
border-radius: 3px;
  }
  li {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8); /* horizontal offset, vertical offset, blur radius, color */

  }
  .arrow-rotate {
    font-size: 17px;
    transform: rotate(90deg); /* Rotate arrow when dropdown is active */
    transition: transform 0.3s ease; /* Add transition for smooth rotation */
  }
  
  .arrow-rotate.active {
    transform: rotate(-1deg); /* Rotate arrow when dropdown is active */
  }
  .big-rotate2 {
    font-size: 17px;
    transform: rotate(90deg); /* Rotate arrow when dropdown is active */
    transition: transform 0.3s ease; /* Add transition for smooth rotation */
  }
  
  .big-rotate2.active {
    transform: rotate(-1deg); /* Rotate arrow when dropdown is active */
  }
  .active {
    color:rgba(170, 145, 0, 0.993);
    }
    .zod{
      border: 0.5px solid black;
    }
    .inter {
      display: none;
    }
    .chevyy {
      display: none;
    }
    .inter li {
      background: rgb(238, 232, 232);

    }
    @media screen and (max-width: 1430px) {
      .nav__hamburger {
        display: flex;
        z-index: 101;
      }
    .navbar--items {
        display: none; /* Changed from none to flex */
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255);
        width: 100%;
        transition: transform 0.5s ease-in-out; /* Updated transition property */
        margin-top: 0px;
        transform: translateY(-150%); /* Initial position off-screen to the left */
        height: fit-content;
      }
      .chevyy {
        display: contents;
      }
      .navbar--items.active {
        transform: translateX(0); /* Final position on screen */
      }
    
      .navbar--content {
        display: flex;
        font-size: 20px;
        width: 100%;
      }
    
      .navbar--items ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 2px;
        z-index: 100;
        gap: 2px;
      }
    
      .missin {
        width: 100%;
        margin: 6px;
        font-size: 20px;
        cursor: pointer; 

      }
    
      .findingList {
        display: none;
      }
    
      .navbar--items ul li {
        width: 100%;
        border: 1px solid black;
      }
    
      .navbar--items {
        z-index: 100;
      }
    
      .navbar--items.active {
        display: flex;
      }
    
      .inter {
        flex-direction: column;
        width: 100%;
        background: white; 
        border-top: 1px solid black; 
    }

    .inter.active {
        display: flex; 
    }
    .dropdown.active .dropdown-content {
      display: none;
    }
    }
    
    @media screen and (max-width: 680px) {

    .heading h2 {
      font-size: 14px;
  
    }
    .nav__hamburger {

      top: 46px;
      right: 20px;
   
  
    }
    .heading h4 {
      font-size: 10px;

    }
  }
  @media screen and (max-width: 500px) {

    .heading h2 {
      font-size: 12px;

  
    }
  
    .heading h4 {
      font-size: 10px;

    }
    .heading {
      padding-left: 2px;
    }
  }
  @media screen and (max-width: 430px) {

    .heading h2 {
      font-size: 11px;

  
    }
  
    .heading h4 {
      font-size: 9px;

    }
    .heading {
      padding-left: 2px;
    }
  }