.captain {
    height: fit-content;
    background: linear-gradient(to right, rgba(36, 0, 53, 0.99),rgba(36, 0, 39, 0.99));
    color: #ffffff;
padding: 4px;
padding-left: 20px;
font-size: 14px;
text-align: start;
width: 100%;
height: fit-content;

z-index: 8000;
}
.contact-info,
.office-info {
  display: inline;
}

/* Hide office-info when screen width is 1430px or less */
@media screen and (max-width: 1430px) {
  .office-info {
    display: none;
  }
  .captain {
    padding-left: 4px;

  }
}
@media screen and (max-width: 430px) {
  .office-info {
    display: none;
  }
  .captain {
    padding-left: 4px;

  }
  .contact-info{
    font-size: 12px;
  }
}