.feet {
    position: fixed;
    left: 4px;
    bottom: 10px;
    z-index: 4000;
    width: fit-content;
    height: fit-content;
    color: white;

  }
  
.transLate {
    width: fit-content;
    height: fit-content;
    color: white;
  }