.blog-container {
flex-direction: column;
    min-height: 85vh;
    max-height: 85vh;
    overflow: hidden;
    overflow-y: scroll;
  }
  
  .text-area-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    text-align: center;
    padding: 20px;
  }
  .finalss {
    width: 100%;
    padding: 8px;
  }
  .text-area {
    width: 80%;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .text-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    width: 50%;
  }
  .posts-container {
    width:100%;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-top: 40px;
    max-height: 80vh;
    display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Add some space between posts */
  }
  .nerfme {
    width: 100%;
    height: 300px;
  }
  .delbutt {
    background: linear-gradient(to left, rgba(82, 0, 129, 0.984),rgba(115, 90, 139, 0.969));
    color: white;
    border: 1px solid #afafaf2f;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 26px;
    border-radius: 2px;
  }
  .postbutt {
    background: linear-gradient(to left, rgba(82, 0, 129, 0.984),rgba(115, 90, 139, 0.969));
    color: white;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border: 1px solid #afafaf2f;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
    bottom: 0px;
right: 150px;
  }
  .post {
    width: calc(25% - 10px); /* Calculate the width based on the number of posts per row */
    position: relative;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
max-height: 350px;
min-height: 350px;

background: #ffffff;

    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
border-radius: 3px;
cursor: pointer;
transition: all 0.2s ease-in-out;
  }
  .post:hover {
    transform: scale(1.025);
    
  }
    .mixtn {
      margin-top: 6px;
    }
  .chasser {
    position: relative;
width: fit-content;
float: right;  
padding-right: 4px;
padding-top: 4px;
cursor: pointer;
}

  .timer {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: end;
    text-shadow: 0px 0px 1px black;
width: fit-content;
height: fit-content;  
position: absolute;
bottom: 4px;
right: 4px;
padding:6px;
font-weight: 600;
}
.timer1 {
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: end;
  text-shadow: 0px 0px 1px black;
width: fit-content;
height: fit-content;  
position: relative;
float: right;
padding:6px;
}
.moore {
  font-size: 12px;
  color: rgb(0, 0, 0);
  text-align:start;
  text-shadow: 0px 0px 1px black;
width: fit-content;
height: fit-content;  
position: absolute;
left: 12px;
bottom: 12px;
margin-top: 8px;
padding:6px;
border-radius: 0px;
box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
border: 1px solid #afafaf2f;
background: linear-gradient(to left, rgba(82, 0, 129, 0.984),rgba(53, 15, 88, 0.969));
color: white;

}
  .windows {
    width: 100%;
    height: 65%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.65);
margin-bottom: 6px;
object-fit: fill;
box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75) ;

  }
  .windows1 {
    width: 100%;
    height: 450px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2px;
    object-fit: fill;
    box-shadow: 2px 2px 4px -5px rgba(0, 0, 0, 0.45) ;

  }
  
  .blogHead {
text-align:center;
color: rgb(0, 0, 0);
text-shadow: 0px 0px 1px black;
font-family: 'Oswald', sans-serif; 
font-weight:600;
font-size: 19px;
margin-left: auto;
margin-right: auto;
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 6px;
padding-right: 6px;
padding-top: 4px;
padding: 1px;
  }
  .blogHead1 {
    text-align:center;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 1px black;
    font-family: 'Oswald', sans-serif; 
    font-weight:700;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;

      width: 95%;
      padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    
      }
  .blogCont {
font-size: 16px;
text-shadow: 0px 0px 1px black;
color: rgb(0, 0, 0);
margin-left: auto;
margin-right: auto;
text-align: start;
padding: 4px;
text-align: center;
padding-left: 14px;
padding-right: 14px;
font-family:Helvetica, Arial,  sans-serif;
overflow: hidden;
white-space: nowrap;

  text-overflow: ellipsis;
  margin-bottom: 8px;
  }
  .blogContl {
    font-size: 22px;
text-shadow: 0px 0px 1px black;
color: rgb(0, 0, 0);
margin-left: auto;
margin-right: auto;
text-align: center;
font-family:Helvetica, Arial,  sans-serif;

padding: 4px;
margin-top: 6px;
background-color: rgb(197, 197, 197);
  }
  .lightboxB {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    z-index: 5000; /* Ensure it appears above other elements */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lightbox-contentB {
    background-color: rgb(219, 219, 219);
    padding: 20px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
    border: 1px solid #8585852f;
    border-radius: 15px 0px 15px 0px;
    max-width: 80%;
    max-height: 80%;
    min-width: 60%;
    min-height: 60%;
    overflow-y: auto;
  }
  
  .lightbox-contentB h3 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  
  .lightbox-contentB p {
    font-size: 22px;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 1365px) {
    .post {
      width: calc(25% - 2px); /* Calculate the width based on the number of posts per row */

    }
  }
  @media screen and (max-width: 1180px) {
    .post {
      width: calc(33% - 2px); /* Calculate the width based on the number of posts per row */

    }
  }
  @media screen and (max-width: 740px) {
    .post {
      width: calc(50% - 2px); /* Calculate the width based on the number of posts per row */

    }
  }
  @media screen and (max-width: 580px) {
    .post {
      width: calc(100% - 2px); /* Calculate the width based on the number of posts per row */

    }
    .windows1 {
      height: fit-content;

    }
    .blogHead {

      font-size: 16px;

        }
  }

  