.blog-container {
  display: flex;
flex-direction:row;
    height: 40vh;
    overflow: hidden;
  }
  .updater {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 12px;
font-weight: 800;
position: absolute;
top: 30px;
left: 10px;
color: rgb(206, 158, 0);
text-shadow: 2px 2px 2px rgba(0, 0, 0); /* horizontal offset, vertical offset, blur radius, color */

  }
  .ban {
width: 100%;
filter: blur(4px);
height: 40%;
z-index: -500;
position: absolute;  }
  .text-area-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 20px;
    z-index: 4000;
  }
  .finalss {
    width: 100%;
    padding: 8px;
  }
  .text-area {
    width: 80%;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .text-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    width: 50%;
  }
  .burster {
font-size: 48px;
width: fit-content;
position: absolute;
top: -28px;
left: -12px;
z-index: 1;
  }
  .posts-container {
    width:100%;
    padding: 20px;
    text-align: center;
    max-height: 80vh;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  gap: 18px; /* Add some space between posts */
  }
  .nerfme {
    width: 100%;
    height: 300px;
  }
  .delbutt {
    background: linear-gradient(to left, rgba(82, 0, 129, 0.984),rgba(115, 90, 139, 0.969));
    color: white;
    border: 1px solid #afafaf2f;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 26px;
    border-radius: 2px;
  }
  .postbutt {
    background: linear-gradient(to left, rgba(82, 0, 129, 0.984),rgba(115, 90, 139, 0.969));
    color: white;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border: 1px solid #afafaf2f;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
    bottom: 0px;
right: 150px;
  }
  .post {
    position: relative;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
max-height: 300px;
min-height: 300px;
max-width: 350px;
min-width: 350px;
display: inline-block;
flex: 0 0 auto;
background: #f5f5f5;

    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
border-radius: 1px;
cursor: pointer;
transition: all 0.2s ease-in-out;
  }
  .post:hover {
    transform: scale(1.01);
    
  }
    .mixtn {
      margin-top: 6px;
    }
  .chasser {
    position: relative;
width: fit-content;
float: right;  
padding: 4px;
cursor: pointer;
}

  .timer {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: end;
    text-shadow: 0px 0px 1px black;
width: fit-content;
height: fit-content;  
position: absolute;
bottom: 4px;
right: 4px;
padding:6px;
font-weight: 600;
}
.timer1 {
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: end;
  text-shadow: 0px 0px 1px black;
width: fit-content;
height: fit-content;  
position: relative;
float: right;
padding:6px;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
}
.moore {
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-align:start;
  text-shadow: 0px 0px 1px black;
width: fit-content;
height: fit-content;  
position: absolute;
left: 9px;
bottom: 9px;
margin-top: 8px;
padding:6px;
border-radius: 0px;
box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.7) ;
border: 1px solid #afafaf2f;
background: linear-gradient(to right, rgba(41, 41, 41, 0.99), rgba(71, 71, 71, 0.984),rgba(85, 85, 85, 0.969));
color: white;

}
  .windows {
    width: 100%;
    height: 75%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.45);
margin-bottom: 2px;
object-fit: fill;
box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5) ;

  }
  .windows1 {
    width: 100%;
    height: 450px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2px;
    object-fit: fill;
    box-shadow: 2px 2px 4px -5px rgba(0, 0, 0, 0.45) ;

  }
  
  .blogHead {
text-align:center;
color: rgb(0, 0, 0);
text-shadow: 0px 0px 1px black;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
font-weight:500;
font-size: 16px;
margin-left: auto;
margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 6px;
padding-right: 6px;
padding-top: 4px;
padding: 2px;
  }
  .blogHead1 {
    text-align:center;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 1px black;
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight:700;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;

      width: 95%;
      padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    
      }
  .blogCont {
font-size: 16px;
text-shadow: 0px 0px 1px black;
color: rgb(0, 0, 0);
margin-left: auto;
margin-right: auto;
text-align: start;
padding: 4px;
text-align: center;
padding-left: 14px;
padding-right: 14px;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
overflow: hidden;
white-space: nowrap;

  text-overflow: ellipsis;
  margin-bottom: 8px;
  }
  .blogContl {
    font-size: 22px;
text-shadow: 0px 0px 1px black;
color: rgb(0, 0, 0);
margin-left: auto;
margin-right: auto;
text-align: center;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
white-space: pre-wrap; /* This will preserve line breaks and white spaces */

padding: 4px;
margin-top: 6px;
background-color: rgb(197, 197, 197);
  }
  .lightboxB {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    z-index: 5000; /* Ensure it appears above other elements */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  
  .lightbox-contentB {
    background-color: rgb(219, 219, 219);
    padding: 20px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
    border: 1px solid #8585852f;
    max-width: 92.5%;
    max-height: 90%;
    min-width: 92.5%;
    min-height: 90%;
    overflow-y: auto;
  }
  
  .lightbox-contentB h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .lightbox-contentB p {
    font-size: 22px;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 1365px) {
    .post {
      width: calc(25% - 2px); /* Calculate the width based on the number of posts per row */

    }
  }
  @media screen and (max-width: 1180px) {
    .post {
      width: calc(33% - 2px); /* Calculate the width based on the number of posts per row */

    }
  }
  @media screen and (max-width: 740px) {
    .post {
      width: calc(50% - 2px); /* Calculate the width based on the number of posts per row */

    }
  }
  @media screen and (max-width: 580px) {
    .post {
      width: calc(100% - 2px); /* Calculate the width based on the number of posts per row */

    }
    .windows1 {
      height: 300px;

    }
    .blogHead {

      font-size: 16px;

        }
  }

  