:root {
  --primary: rgb(43, 5, 78);
  --heading-color: #9699a7;
  --bg-shade: #f5fcff;
  --github: #e62872;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: rgb(255, 255, 255);
}
body {
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;

}
html {
  color-scheme: light dark;
}

.lightbox9 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8000;
}

.lightbox9-content {
  background: #fff;
  padding: 40px;
  border-radius: 3px;
  max-width: 90%;
  max-height: 80%;
  overflow: auto;
  position: relative;
}

.lightbox9-close {
  position: absolute;
  top: -18px;
  right: 10px;
  font-size: 54px;
  cursor: pointer;
}
.lightbox9-image {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.lightbox9-image img {
  width: auto;
  height: 150px;
}
.lighters {
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.lightbox9-text {
  margin-top: 10px;
}

.splasherMiss {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1) ;
  position: absolute;
  z-index: -1;
}
.adContainer {
  padding: 10px 0; /* Example padding to create vertical spacing */
  margin: 0 auto; /* Center the ad horizontally */
  max-width: 100%; /* Ensure it doesn't exceed the container width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.adsbygoogle {
  width: 100%; /* Make ad responsive to parent width */
}