
input {
	padding: 6px;
  background-color: white;
  color: black;

}
select {
	padding: 8px;
  background-color: white;

}

.starter {
text-align:center;
font-style: italic;
background: linear-gradient(to left, rgba(24, 0, 0),rgba(66, 0, 0));
border: 1px solid #afafaf2f;  
font-size: 16px;
	color: #ffffff;
  font-weight: 500;
	text-shadow: 2px 2px 1px black;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;
width: fit-content;
margin-right: auto;
margin-left: 0px;
margin-bottom: 2px;
padding-right: 30px;
padding-bottom: 2px;
padding-left: 20px;
border-radius: 0px 50px 50px 0px;
}

.searchBtn-1 {
  background: rgb(134, 77, 77);
  color: white;
  border: 1px solid #afafaf2f;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5) ;
border-radius: 3px;
padding-left: 20px;
padding-right: 20px;
margin-left: 2px;
}
.capture {
  width: 100%;
  display: flex;
  padding: 10px;
}
.manual {
  display: flex;
  margin-bottom: 8px;
  gap: 14px;
  width: 100%;
}
.spanur {
  margin-left: auto; /* Ensures the span moves to the end of the flex container */

}
.prevButton {
  color: rgb(17, 17, 17);
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  border: none;
    background: none;
    text-wrap: nowrap;
}
.prevButton.disabled {
  color: #b4b4b4;
}
.prevButton.disabled:hover {
  color: #b4b4b4;
}
.prevButton:hover {
color: rgb(119, 119, 119);
}
.nextButton {
  color: rgb(17, 17, 17);
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  border: none;
    background: none;
    text-wrap: nowrap;

}
.nextButton.disabled {
  color: #b4b4b4;
}
.nextButton.disabled:hover {
  color: #b4b4b4;
}
.nextButton:hover {
  color: rgb(119, 119, 119);

}
.searchBtn-1:hover {
  background: rgb(100, 53, 53);

}
.searchBtn-1:active {
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
.supyo {
	display: flex;
	width: 100%;
	margin-left: auto;
padding: 8px;
z-index: 2000;
background: white;
margin-right: auto;
gap: 1px;
border: 1px solid #2222224b;
}
  
  .supyo > div {
	flex: 1;
	margin-right: 2px; /* Adjust spacing between elements */
  }
  
  .supyo .propsort-1,
  .supyo .bedsbaths-1,
  .supyo .resets-1 {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2px; /* Adjust spacing between groups */
  }
  
  .supyo input,
  .supyo option,
  .supyo select {
	margin-right: 2px; /* Adjust spacing between elements */
	font-weight: 500;
  border: 1px solid #222222c7;
  border-radius: 1px;
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 13px;
  }
  .supyo input {
width: 160px;
border: 1px solid #222222c7;

  }
  select, option {
    background-color: white; /* Background color when not selected */
    border: 1px solid lightgrey; /* Border color when not selected */
  }
  
  select option:valid {
    background-color: rgb(93, 7, 163); /* Background color when selected */
  }
  .custom-checkbox-select {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .selected-value {
    display: inline-block;
    border: 1px solid #222222c7;
    background-color: white;
    font-weight: 400;
    border-radius: 1px;
    max-width: 206px;
    min-width: 206px;
    overflow: hidden;
    padding: 13px 8px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    height: 100%;
  }
  
  .options {
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: white;
    z-index: 4000;
  }
  
  .custom-checkbox-select .options {
    display: block;
  }
  
  .options label {
    display: block;
    padding: 8px;
    cursor: pointer;
  }

  .options label:hover {
    background-color: #f0f0f0;
  }
  
  .options input[type="checkbox"] {
    margin-right: 8px;
    width: 20px;
  }
  .techer {
    background: white;
width: 100%;
font-size: 16px;
color: #333;
font-weight: 700;
text-align: center;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
border-top: 1px solid #222222c7;
border-bottom: 1px solid #222222c7;
cursor: pointer;
  }
.fullStage {
width: 45%;
height: 100%;
margin-right: auto; 
margin-left: auto;
background: white;
float: right;
}
.detts {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 36px;
font-weight: 400;
}
.descText {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    color: #333;
    letter-spacing: 1px;
    padding: 0px;
    background-color: #f8f8f8;
    border-radius: 5px;
	margin-top: 6px;
  margin-bottom: 24px;

}
.descTextF {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    color: #333;
    letter-spacing: 2px;
    background-color: #f8f8f8;
    border-radius: 5px;
	margin-top: 4px;
padding: 10px;
}
.descTex {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    color: #252525;
    letter-spacing: 2px;
	margin-top: 2px;
padding: 6px;
}
.descTexFp {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    color: #252525;
    text-align: center;
    letter-spacing: 2px;
	margin-top: 2px;
padding: 6px;
}
.descTexc {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 22px;
    color: #252525;
    letter-spacing: 2px;
	margin-top: 4px;
  margin-bottom: 4px;
padding: 2px;
}
.descTexco {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    color: #252525;
    letter-spacing: 2px;
padding: 2px;
font-weight: 600;
}
.descTexco1 {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    color: #252525;
    letter-spacing: 2px;
padding: 2px;
font-weight: 600;
}
.descTexcop {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    color: #252525;
    letter-spacing: 2px;
padding: 2px;
}
.descTexcop1 {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    color: #252525;
    letter-spacing: 2px;
padding: 2px;
}
.descTexcope {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    color: #252525;
    letter-spacing: 2px;
padding: 2px;
margin-top: auto;
}
.descTexcj {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 28px;
    color: #252525;
    letter-spacing: 2px;
	margin-top: 4px;
  margin-bottom: 18px;
padding: 2px;
}
.descTexcjb {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 28px;
    color: #252525;
    text-align: center;
    letter-spacing: 2px;
	margin-top: 4px;
  margin-bottom: 18px;
padding: 2px;
}
.descTexcjn {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 30px;
    color: #e2e2e2;
    letter-spacing: 2px;
text-shadow: 2px 2px 1px #000000;
margin: auto;
}
.descTexcp {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
    color: #252525;
    letter-spacing: 2px;
	margin-top: 0px;
padding: 0px;
}
.descTexcpml {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
    color: #252525;
    letter-spacing: 2px;
	margin-top: 0px;
  text-align: center;
padding: 0px;
}
.descTexcpt {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    color: #252525;
    letter-spacing: 2px;
	margin-top: 0px;
padding: 0px;
}
.descTextQ {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #333;
    letter-spacing: 2px;
    background-color: #f8f8f8;
    border-radius: 5px;
	margin-top: 4px;
padding: 10px;
border: 1px solid #00000047;
}
.descTextJ {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #333;
    letter-spacing: 2px;
    background-color: #f8f8f8;
	margin-top: 4px;
padding: 10px;
}
.descTextJl {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 26px;
    text-align: center;
    color: #333;
    letter-spacing: 2px;
	margin-top: 4px;
  margin-bottom: 24px;

padding: 10px;
}
.descTextJln {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
    color: #333;
    letter-spacing: 2px;
padding: 2px;
}
.descTextJln1 {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    letter-spacing: 2px;
padding: 2px;
}
.descTextJln12 {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    text-align: end;
    letter-spacing: 2px;
padding: 2px;
}
.descTextJlnv {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 28px;
    color: #333;
    margin-top: auto;
    letter-spacing: 2px;
padding: 2px;
font-weight: 600;
}
.descTextJlnv1 {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    color: #333;
    margin-top: auto;
    letter-spacing: 2px;
padding: 2px;
font-weight: 600;
}
.descTextJd {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #333;
    letter-spacing: 1px;
	margin-top: 4px;
padding: 10px;
}
.descTextJv {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #333;
    letter-spacing: 2px;
	margin-top: 4px;
  font-weight: 600;
padding: 6px;
}
.descTextJc {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
    color: #333;
    letter-spacing: 2px;
    background-color: #f8f8f8;
	margin-top: 8px;
  margin-bottom: 8px;

padding: 10px;
}
.descTextJf {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 26px;
    text-align: center;
    color: #333;
    letter-spacing: 2px;
    background-color: #f8f8f8;
	margin-top: 6px;
  margin-bottom: 6px;

padding: 10px;
}
.descTextJfc {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 34px;
    color: #333;
    letter-spacing: 2px;
	margin-top: 6px;
  margin-bottom: 16px;
  text-align: center;
font-weight: 600;
padding: 10px;
}
.ghost {
  border: 1px solid #00000047;
  background-color: #f8f8f8;
padding: 4px;
}
.descTextM {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
    color: #333;
    letter-spacing: 2px;
	margin-top: 0px;
padding: 2px;
}
.noSchool {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 46px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin-top: 60px;
}
.params {
	font-weight: lighter;
	font-size: 24px;
	
}
.searchBar-1 {
  display: flex;
  flex-direction:row; 
  height: 10%;
  width: 90%;
  margin: 15px;
  margin-top: 0px;
  padding-top: 80px;
  }
.search-1 {
	border: 1.5px solid black;
	background: white;

	width: 50%;
}

.property-1 {
	border: 1.5px solid black;
	background: white;

	width: 10%;
}
.sort-1 {
	border: 1.5px solid black;
	background: white;

	width: 10%;

}

.baths-1 {
	border: 1.5px solid black;
	background: white;

	width: 10%;

}
.beds-1 {
	border: 1.5px solid black;
	background: white;

	width: 10%;

}
.alone {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%; 
  font-size: 16px;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
color: #252525;
letter-spacing: 2px;
padding: 2px;
}
.minsmaxs-1 {
  display: flex;

}

.maxs-1 {
	border: 1.5px solid black;
	background: white;

	width: 10%;

}
.mins-1 {
	border: 1.5px solid black;
	background: white;

	width: 10%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.markImg {
  width: 100%;
  height: 100px;
}
.resets-1 {
  display: flex;
}

.cDress1{
font-size: 24px;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
color: black;
width: fit-content;
}
.resultsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.noResultsMessage {
	font-size: 32px;
	color: #202020f1;
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 600;
}
.flippint {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.flippint.rotated {
  transform: rotate(180deg);
}
.splash {

    width: 100vw;
    height: 88.5%;
    position: absolute;
    filter: blur(12px);
    z-index: -10;
    padding: 0px;
}
  .lists {
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
  }
.cardContainer {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  gap: 2px;
  overflow:auto;
  height: 93.5%;
  position: relative; /* Ensure relative positioning for absolute positioning inside */
  scrollbar-width: thin; /* Modern scrollbar width (Chrome, Edge) */
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0); /* Modern scrollbar color (thumb, track) */

  /* Firefox scrollbar styles */
  scrollbar-track-color: rgba(0, 0, 0, 0);
}

/* Define scrollbar thumb styles */
.cardContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

/* Define scrollbar track styles (optional, usually matches background) */
.cardContainer::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* Track color (transparent in this case) */
}
.cardContainerStress {
  gap: 0px;
  overflow:auto;
  height: 94.5%;
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;

  position: relative; /* Ensure relative positioning for absolute positioning inside */
  scrollbar-width: thin; /* Modern scrollbar width (Chrome, Edge) */
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0); /* Modern scrollbar color (thumb, track) */

  /* Firefox scrollbar styles */
  scrollbar-track-color: rgba(0, 0, 0, 0);
}

/* Define scrollbar thumb styles */
.cardContainerStress::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

/* Define scrollbar track styles (optional, usually matches background) */
.cardContainerStress::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* Track color (transparent in this case) */
}
.cardContainer2 {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  gap: 2px;
  overflow:auto;
  height: 93.5%;
  position: relative; /* Ensure relative positioning for absolute positioning inside */
  scrollbar-width: thin; /* Modern scrollbar width (Chrome, Edge) */
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0); /* Modern scrollbar color (thumb, track) */

  /* Firefox scrollbar styles */
  scrollbar-track-color: rgba(0, 0, 0, 0);
}

/* Define scrollbar thumb styles */
.cardContainer2::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

/* Define scrollbar track styles (optional, usually matches background) */
.cardContainer2::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* Track color (transparent in this case) */
}
.currency {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 20px;
  color: #333;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
  letter-spacing: 1px;
  padding: 0px;
  border-radius: 5px;
width: fit-content;
font-weight: 600;
}
.currency1 {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  width: fit-content;
}
.currency11 {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
  width: fit-content;
}
.pPrice  {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 28px;
    color: #333;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
    letter-spacing: 1px;
    padding: 0px;
    border-radius: 5px;
    background-color: #f8f8f8;
width: fit-content;
font-weight: 600;
width: 100%;
    text-align: center;
}
.pminiPrice {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  letter-spacing: 1px;
  padding: 0px;
  border-radius: 5px;
  background-color: #f8f8f8;
  padding-bottom: 6px;
  width: 100%;
    text-align: center;
    font-weight: 500;
}
.pAddress {
    font-family: 'Arial', sans-serif;
    font-size: 34px;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    letter-spacing: 1px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
	margin-top: 6px;
	width: fit-content;
	font-weight: 600;

}

.pAddress-1 {
	font-size: 34px;
	padding: 2px;
  color: #333;
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;

}
.zoo {
  width: 55%;
  height: 100%;
  z-index: 10;

}
.mappers {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.lite {
  display: flex;
  width: 100%;
  height: calc(100vh - 11vh);
  flex-grow: 1; /* This will make it fill the remaining space */

}

.cardi1 {
	position: relative; /* Ensure relative positioning for absolute positioning inside */

  flex: 0 0 calc(100% - 0.5px); /* Calculate width for three columns with gap */
  align-items: flex-start;
  background: linear-gradient(to right, rgba(230, 230, 230, 0.95),rgba(255, 255, 255, 0.9));
  border-radius: 2px;
  margin-bottom: 2px; /* Add margin to create gap between rows */
 max-height: 250px;
 min-height: 250px;
 display: flex;
 justify-content: space-between;
 overflow: hidden;
 transition: all 1s ease-in-out;
 cursor: pointer;
 transition: transform 0.1s ease-in-out;
 border: 1px solid rgba(63, 63, 63, 0.5);
}
.cardi1Ad {
	position: relative; /* Ensure relative positioning for absolute positioning inside */

  flex: 0 0 calc(100% - 0.5px); /* Calculate width for three columns with gap */
  align-items: flex-start;
  background: linear-gradient(to right, rgba(230, 230, 230, 0.95),rgba(255, 255, 255, 0.9));
  border-radius: 2px;
  margin-bottom: 2px; /* Add margin to create gap between rows */
 height: fit-content;
 display: flex;
 justify-content: space-between;
 overflow: hidden;
 transition: all 1s ease-in-out;
 cursor: pointer;
 transition: transform 0.1s ease-in-out;
 border: 1px solid rgba(63, 63, 63, 0.5);
}
.cardi2 {
	position: relative; /* Ensure relative positioning for absolute positioning inside */

  flex: 0 0 calc(33.33% - 2px); /* Calculate width for three columns with gap */
  align-items: flex-start;
  background: linear-gradient(to right, rgba(230, 230, 230, 0.95),rgba(255, 255, 255, 0.9));
  border-radius: 2px;
  margin-bottom: 2px; /* Add margin to create gap between rows */
 max-height: 250px;
 min-height: 250px;
 display: flex;
 justify-content: space-between;
 overflow: hidden;
 transition: all 1s ease-in-out;
 cursor: pointer;
 transition: transform 0.1s ease-in-out;
 border: 1px solid rgba(63, 63, 63, 0.5);
}
.cardi2:active {
  box-shadow: 0 0px #666;
  transform: translateY(1px);
}
.cardi2 .binlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 28px;
  text-shadow: 2px 2px 1px #000000;
}

.cardi2:hover .binlay {
  opacity: 1;
}
.cardi1:active {
  box-shadow: 0 0px #666;
  transform: translateY(1px);
}
.cardi1 .binlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 22px;
  text-shadow: 2px 2px 1px #000000;
  z-index: 10;
}
.resolute {
  display: flex;
  width: 35%;
  gap: 2px;
  justify-content: end;
}
.cardi1:hover .binlay {
  opacity: 1;
}
.heallin {
	display: flex;
  width: 100%;
}
.holding1 {
	display: flex;
  flex-direction: column;
	max-width: 100%;
	margin-top: 52px;
	margin-bottom: 24px;
  }
  .holding2 {
	display: flex;
	width: 100%;
	margin-bottom: 4px;
  }
  .cardBed,
  .cardBaths,
  .cardMls {
  color: black;
  padding: 1px;
	padding-right: 3px;
	font-size: 16px;
font-weight: 500;
  }
  .bedd,
  .bathh
   {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    letter-spacing: 1px;
    padding: 10px;
    background-color: #f8f8f8;
    width: 100%;
    text-align: center;
    border: 1px solid #00000047;  }
  .dayss {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    letter-spacing: 1px;
    padding: 10px;
    background-color: #f8f8f8;
    text-align: center;
    border: 1px solid #00000047;
  }

  .cardPark {
	font-size: 18px;
	background: linear-gradient(to right,rgba(0, 70, 9, 0.75), rgba(0, 104, 43, 0.75),rgba(1, 145, 37, 0.75));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* For non-WebKit browsers */
  margin-top: 1px;
  padding-left: 3px;
  padding-right: 3px;
  width: fit-content;
  margin-right: 6px;
  font-family: "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  text-shadow: 2px 2px 2px #0006;
  }

  .cardFire {
    font-size: 18px;
    background: linear-gradient(to right, rgba(165, 1, 1, 0.75), rgba(197, 73, 1, 0.75), rgba(214, 139, 0, 0.75));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* For non-WebKit browsers */
    margin-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
    width: fit-content;
    margin-right: 6px;
    font-family: "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  }
  
  
  .cardMl {
	font-size: 18px;
	background: linear-gradient(to right,rgba(58, 0, 194, 0.75), rgba(151, 1, 197, 0.75),rgba(207, 0, 214, 0.75));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* For non-WebKit browsers */
  margin-top: 1px;
  padding-left: 3px;
  padding-right: 3px;
  width: fit-content;
  margin-right: 6px;
  font-family: "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  }
  .cardWind {
	font-size: 18px;
	background: linear-gradient(to right,rgba(14, 2, 190, 0.75), rgba(1, 97, 187, 0.75),rgba(0, 200, 214, 0.75));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* For non-WebKit browsers */
  margin-top: 1px;
  padding-left: 3px;
  padding-right: 3px;
  width: fit-content;
  margin-right: 6px;
  font-family: "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  }
  .cardBroke {
    font-size: 18px;
    background: linear-gradient(to right,rgba(43, 26, 0, 0.75), rgba(90, 54, 0, 0.75),rgba(112, 50, 0, 0.75));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* For non-WebKit browsers */
    margin-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
    width: fit-content;
    margin-right: 6px;
    font-family: "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
}
.cardAsk {
  font-size: 14px;
  color: black;
  margin-top: 2px;
padding: 4px;
  width: fit-content;
  font-family: "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
}
.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  padding-right: 0px;
    padding-left: 0px;
}
.cover1 {
	background-color: #dad7d7;
	border-radius: 5px;
}

.indigo {
  height: 100%;
  width: 55%;
max-height: 250px;
}
.cardi1 img {
	width: 100%;
	height: 250px;
	object-fit: fill;
	transition: 275ms transform ease-in-out;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4) ;
}
.cardi2 img {
	width: 100%;
	height: 250px;
	object-fit: fill;
	transition: 275ms transform ease-in-out;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4) ;
}
.cardText {
  font-size: 1rem; /* Initial font size */
  margin: 8px;
  margin-left: 10px;
width: 30%;
  padding: 40px ;
  background: #f3f3f3;
    border-radius: 5px;
    border: 1px solid #00000025;
}
.cardText1 {
	font-size: 1rem;
padding: 20px;
  width: 45%;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  background-color: white;
  height: 250px;
  max-height: 250px;
  }
.containText {
  height: 50%;
}
.loadingMessage1 {
	display: flex;
	justify-content: center;
	align-content: center;
	font-size: 44px;
	color: #ffffff;
	margin-top: 285px;
	text-shadow: 2px 2px 6px #000000;
	margin-bottom: auto; /* Set bottom margin to auto */
}

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  z-index: 5000; /* Ensure it appears above other elements */
  padding: 14px;
}
.lightbox-content {
  position: relative;
  max-width: 100%;
  min-width: 50%;
  height: 100%;
  overflow: scroll;
  background-color: #ebe7e7;
display: grid;
  justify-content: center;
  border: 1px solid #000000ce;
  z-index: 5000; /* Ensure it appears above other elements */

}
.lightbox-close {
  position: absolute;
  top: 2px;
  right: 0px;
  margin-right: 4px;
  background: none;
  border: none;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
	text-shadow: 2px 2px 4px #000000;

}

.side-by-side-container {
  display: flex;
  gap: 16px;
  width: 100%; /* Ensure the container takes full width */

}
.side-by-side-container img,
.side-by-side-container .cardText {
	display: flex;
  flex-direction: column;
}
.fixer {
  position: relative;
  width: 70%;
  background: #cecece;
  padding: 0px;
  padding-bottom: 28px;
margin-bottom: 10px;
  height: 65vh;
}
.selected-card {
  border: 3px solid rgb(66, 21, 21);
}
.map {
  width: auto; /* Set the width to 100% */
  height: 450px;
  z-index: 200;
margin-top: 0.5px;
padding: 6px;
}
.lightbox-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -36px;
  height: 50px;
  width: 50px;
  background-color: rgba(54, 52, 52, 0.55); /* Adjust the hover opacity as needed */
  border: 1px solid #afafaf2f;
  border-radius: 150%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6) ;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  padding: 6px;
  margin-right: 4px;
  margin-left: 12px;
  outline: none;
  transition: background-color 0.3s ease;
}
.lightbox-left:hover {
  background-color: rgba(54, 52, 52, 0.95); /* Adjust the hover opacity as needed */
}
.fixImage {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;

}
.lightbox-right {
  position: absolute;
right: -34px;  
top: 50%;
width: 50px;
transform: translateY(-50%);
  bottom: 0;
  height: 50px;
  padding: 6px;
  margin-right: 12px;
  margin-left: 4px;
  background-color: #3634348c; /* Adjust the hover opacity as needed */
  border: 1px solid #afafaf2f;
  border-radius: 150%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6) ;
  color: #fff; /* Text color */
  font-size: 26px; /* Adjust the font size as needed */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}
.lightbox-right:hover {
  background-color: rgba(54, 52, 52, 0.95); /* Adjust the hover opacity as needed */
}
.lightbox img {
 min-width: 85%;
 max-width: 85%;
 margin-right: auto;
 margin-left: auto;
 height: fit-content;
 margin-top: 8px;
 max-height: 600px;
 border: 1px solid #afafaf2f;
 border-radius: 3px;
 box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3) ;
}
.toggle {
  display: none;
  color: #333;
  font-size: 18px;
  padding: 6px;
  font-weight: 600;
  margin: 0px;
  font-family: "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
background: white;
  gap: 8px;
  height: 5vh;
  width: 100%;
  justify-content: center;
font-style: italic;
}
.nation {
  max-width: 250px;
  min-width: 250px;
}
.logorbox {
  width: 100%;
  display: flex;
  height: fit-content;
justify-content: center;
}
.logor {
  height: 160px;
  width: 375px;

}
.investingIt, .buyingIt, .sellingIt, .serviceIt, .privacyIt, .missionIt, .priceIt {
  padding-left: 260px;
  padding-right: 260px;
  padding-bottom: 70px;
  padding-top: 8px;
} 
.leftSidebar, .rightSidebar {
  width: 140px;
  position: absolute;
  bottom: 0;
}

.leftSidebar {
  left: 8px;
  margin-top: auto;
  margin-bottom: auto;
}

.rightSidebar {
  right: 8px;
  margin-top: auto;
  margin-bottom: auto;

}

.main {
  flex: 1;
  margin-left: 220px; /* Adjust according to the width of the leftSidebar */
  margin-right: 220px; /* Adjust according to the width of the rightSidebar */
  padding-top: 100px; /* Adjust according to the height of Captain and Header */
}

.ad {
  padding: 20px;
  text-align: center;
  margin: 10px;
}
@media screen and (max-width: 1460px) {
  .supyo {
    padding: 12px;
    flex-direction: column;
    gap: 4px;
    display: none;
    z-index: 5000;
    min-width: 100%;
    position: absolute;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.7) ;

 }
 .cardContainer2 {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  gap: 2px;
  overflow:auto;
  height: 72.5%;
  position: relative; /* Ensure relative positioning for absolute positioning inside */
  scrollbar-width: thin; /* Modern scrollbar width (Chrome, Edge) */
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0); /* Modern scrollbar color (thumb, track) */

  /* Firefox scrollbar styles */
  scrollbar-track-color: rgba(0, 0, 0, 0);
}

/* Define scrollbar thumb styles */
.cardContainer2::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

/* Define scrollbar track styles (optional, usually matches background) */
.cardContainer2::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* Track color (transparent in this case) */
}
 .cardi2 {
  position: relative; /* Ensure relative positioning for absolute positioning inside */

  flex: 0 0 calc(90% - 4px); /* Calculate width for three columns with gap */
  align-items: flex-start;
  background: linear-gradient(to right, rgba(230, 230, 230, 0.95),rgba(255, 255, 255, 0.9));
  border-radius: 2px;
margin-left: auto;
margin-right: auto;
 max-height: 265px;
 min-height: 265px;
 display: flex;
 justify-content: space-between;
 overflow: hidden;
 transition: all 1s ease-in-out;
 cursor: pointer;
 transition: transform 0.1s ease-in-out;
 border: 1px solid rgba(63, 63, 63, 0.5);
}
 .lite {
  display: flex;
  width: 100%;
  height: 100vh;
}
 .visible {
  display: flex;
}
.changin {
  transform: rotate(90deg);
  transition: transform 0.4s ease; /* Add transition for smooth rotation */

}
.rotate {
  transition: transform 0.4s ease; /* Add transition for smooth rotation */
  transform: rotate(-1deg);
}
  .starter {
    display: none;
  }
  .toggle {
display:inline-flex; 

}
.nation {
  min-width: 100%;
}
.selected-value {
  display: inline-block;
  border: 1px solid #222222c7;
  background-color: white;
  font-weight: 400;
  border-radius: 1px;
min-width: 100%;

  overflow: hidden;
  padding: 8px 8px 8px 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  height: 100%;
}
.supyo #search {
  width: 100%;
}

.supyo select {
  width:100%;
}

.supyo #sortList,
.supyo #choose-type,
.supyo #choose-beds,
.supyo #choose-baths,
.supyo #min-price,
.supyo #max-price {
  width: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;
}
.searchBtn-1 {
  width: 100%;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
}
}

@media screen and (max-width: 1365px) {
  .cardContainer2 {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    gap: 0px;
    overflow:auto;
    height: 80.5%;
    position: relative; /* Ensure relative positioning for absolute positioning inside */
    scrollbar-width: thin; /* Modern scrollbar width (Chrome, Edge) */
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0); /* Modern scrollbar color (thumb, track) */
  
    /* Firefox scrollbar styles */
    scrollbar-track-color: rgba(0, 0, 0, 0);
  }
  
  /* Define scrollbar thumb styles */
  .cardContainer2::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Thumb color */
    border-radius: 10px; /* Rounded corners */
  }
  
  /* Define scrollbar track styles (optional, usually matches background) */
  .cardContainer2::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0); /* Track color (transparent in this case) */
  }
  .descTexcjn {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 22px;
      color: #e2e2e2;
      letter-spacing: 2px;
  text-shadow: 2px 2px 1px #000000;
  
  }
  .cardi1 {
    position: relative; /* Ensure relative positioning for absolute positioning inside */
    flex: 0 0 calc(100% - 4px); /* Calculate width for three columns with gap */
  }
  .cDress1{
    font-size: 26px;

    }
    .noResultsMessage {
      font-size: 26px;
  
    
    }
    .nation {
      min-width: 100%;
    }
    .cardi2 {
      position: relative; /* Ensure relative positioning for absolute positioning inside */
    
      flex: 0 0 calc(90% - 4px); /* Calculate width for three columns with gap */
      align-items: flex-start;
      background: linear-gradient(to right, rgba(230, 230, 230, 0.95),rgba(255, 255, 255, 0.9));
      border-radius: 2px;
margin-left: auto;
margin-right: auto;
     max-height: 265px;
     min-height: 265px;
     display: flex;
     justify-content: space-between;
     overflow: hidden;
     transition: all 1s ease-in-out;
     cursor: pointer;
     transition: transform 0.1s ease-in-out;
     border: 1px solid rgba(63, 63, 63, 0.5);
    }
    .cPrice1{
      font-size: 18px;
    }
    .cardBed,
    .cardBaths,
    .cardMls {

    font-size: 16px;

    }
    .investingIt, .buyingIt, .sellingIt, .serviceIt, .privacyIt, .missionIt, .priceIt {
      padding-left: 180px;
      padding-right: 180px;
      padding-bottom: 50px;
    } 
    .selected-value {
      display: inline-block;
      border: 1px solid #222222c7;
      background-color: white;
      font-weight: 400;
      border-radius: 1px;
    min-width: 100%;
    
      overflow: hidden;
      padding: 8px 8px 8px 8px;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 13px;
      height: 100%;
    }
    .descTexco {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 16px;
        color: #252525;
        letter-spacing: 2px;
    padding: 2px;
    font-weight: 600;
    }
    .descTextJlnv {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 22px;
        color: #333;
        margin-top: auto;
        letter-spacing: 2px;
    padding: 2px;
    font-weight: 600;
    }
}
@media screen and (max-width: 1180px) {

.descTexcpt {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    color: #252525;
    letter-spacing: 2px;
	margin-top: 0px;
}
.investingIt, .buyingIt, .sellingIt, .serviceIt, .privacyIt, .missionIt, .priceIt {
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 40px;
} 
.noResultsMessage {
  font-size: 24px;


}
.cardText1 {
  padding: 10px;
}
.cardText {
  font-size: 1rem; /* Initial font size */
  margin: 8px;
  margin-left: 10px;
width: 100%;
  padding: 40px ;
  background: #f3f3f3;
    border-radius: 5px;
    border: 1px solid #00000025;
}
.side-by-side-container {
  display: flex;
  flex-direction: column;

  width: 100%; /* Ensure the container takes full width */

}
.detts {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 30px;
font-weight: 400;
}
.fixer {
  position: relative;
  width: 100%;
  background: none;

  height: 65vh;
}
}
@media screen and (max-width: 1020px) {

.descTex {
text-align: center;
}}
@media screen and (max-width: 980px) {
  .lite {
    flex-direction: column;
    width: 100%;
  }
  .zoo {
    width: 100%;
    height: 100%;
    z-index: 10;
  
  }
.descTextJ {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #333;
    letter-spacing: 2px;
    background-color: #f8f8f8;
	margin-top: 4px;
padding: 10px;
}
.noResultsMessage {
  font-size: 24px;


}
.cardi1 {

 max-height: 250px;
 min-height: 250px;

}
.detts {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 28px;
font-weight: 400;
}
.fixer {
  position: relative;
  width: 100%;
  padding: 0px;
  padding-bottom: 28px;
margin-bottom: 10px;
  height: 60vh;
}
.fullStage {
  width: 100%;
  height: 50%;
  margin-right: auto; 
  margin-left: auto;
  background: white;
  float: right;
  }
}
@media screen and (max-width: 890px) {
  .descTexcjn {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 14px;
      color: #e2e2e2;
      letter-spacing: 2px;
  text-shadow: 2px 2px 1px #000000;
  
  }
  .investingIt, .buyingIt, .sellingIt, .serviceIt, .privacyIt, .missionIt, .priceIt {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 30px;
  }
  .descTextJf {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 18px;
      text-align: center;
      color: #333;
      letter-spacing: 2px;
      background-color: #f8f8f8;
    margin-top: 6px;
    margin-bottom: 6px;
  
  padding: 10px;
  }
  .leftSidebar, .rightSidebar {
    display: none;
  }
  .descTexcp {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 14px;
      color: #252525;
      letter-spacing: 2px;
    margin-top: 0px;
  padding: 0px;
  }
  .descTexc {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 18px;
      color: #252525;
      letter-spacing: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
  padding: 2px;
  }
}

@media screen and (max-width: 820px) {

  .cardi1 {
    position: relative; /* Ensure relative positioning for absolute positioning inside */
    flex: 0 0 calc(100% - 2px); /* Calculate width for three columns with gap */
  }
  .noResultsMessage {

    font-size: 22px;

  
  }
  .descTexcpt {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 16px;
      color: #252525;
      letter-spacing: 2px;
    margin-top: 0px;
  }
  .descTextJc {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 22px;
      text-align: center;
      color: #333;
      letter-spacing: 2px;
      background-color: #f8f8f8;
    margin-top: 8px;
    margin-bottom: 8px;
  
  padding: 10px;
  }
  .descTextF {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 16px;
      color: #333;
      letter-spacing: 2px;
      background-color: #f8f8f8;
      border-radius: 5px;
    margin-top: 4px;
  padding: 10px;
  }
  .descTextJln12 {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 12px;
      color: #333;
      text-align: end;
      letter-spacing: 2px;
  padding: 2px;
  }
  .pAddress-1 {
    font-size: 24px;
    padding: 2px;
    color: #333;
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  
  }
}
@media screen and (max-width: 740px) {
  .descTexcjn {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 12px;
      color: #e2e2e2;
      letter-spacing: 2px;
  text-shadow: 2px 2px 1px #000000;
  
  }
  .detts {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 400;
  }

  .descTextF {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 16px;
      color: #333;
      letter-spacing: 2px;
      background-color: #f8f8f8;
      border-radius: 5px;
    margin-top: 4px;
  padding: 10px;
  }
  .side-by-side-container img,
  .side-by-side-container .cardText {
    display: flex;
    flex-direction: column;
  }
  .cardAsk {
    font-size: 12px;
    color: black;
    margin-top: 2px;
  padding: 4px;
    width: fit-content;
    font-family: "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
  }
  .fixer {
    position: relative;
    width: 100%;
    padding: 8px;
    padding-bottom: 16px;
  }

  .pAddress {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    letter-spacing: 1px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
	margin-top: 6px;
	width: fit-content;
	font-weight: 600;

}
.pPrice  {
	font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    letter-spacing: 1px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
font-weight: 600;
}
.descText {
	font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
    letter-spacing: 1px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
	margin-top: 6px;
}

  .descTextJ {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 12px;
      text-align: center;
      color: #333;
      letter-spacing: 2px;
      background-color: #f8f8f8;
    margin-top: 4px;
  padding: 6px;
  }
  .cardi2 {
    position: relative; /* Ensure relative positioning for absolute positioning inside */
  
    flex: 0 0 calc(90% - 4px); /* Calculate width for three columns with gap */
    align-items: flex-start;
    background: linear-gradient(to right, rgba(230, 230, 230, 0.95),rgba(255, 255, 255, 0.9));
    border-radius: 2px;
margin-left: auto;
margin-right: auto;
   max-height: 205px;
   min-height: 205px;
   display: flex;
   justify-content: space-between;
   overflow: hidden;
   transition: all 1s ease-in-out;
   cursor: pointer;
   transition: transform 0.1s ease-in-out;
   border: 1px solid rgba(63, 63, 63, 0.5);
  }
  .noResultsMessage {
    font-size: 22px;

  
  }
}
@media screen and (max-width: 680px) {

.toggle {
  color: #333;
  font-size: 18px;
  padding: 6px;
  margin: 0px;
  font-family: "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;

  gap: 8px;
  width: 100%;
  justify-content: center;
border-radius: 0px;
}
.lists {
  width: 100%;
}
.techer {
  background: white;
width: 100%;
font-size: 14px;
color: #333;
font-weight: 700;
text-align: center;
font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
border-top: 1px solid #222222c7;
border-bottom: 1px solid #222222c7;
cursor: pointer;
padding-top: 7px;
padding-bottom: 7px;
}
.nextButton {

  font-size: 12px;

}
.prevButton {

  font-size: 12px;

}
}

@media screen and (max-width: 580px) {
    .descTexcjn {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 12px;
        color: #e2e2e2;
        letter-spacing: 1px;
    text-shadow: 2px 2px 1px #000000;
    
    }
    .fullStage {
      width: 100%;
      height: 100%;
      margin-right: auto; 
      margin-left: auto;
      background: white;
      float: right;
      }
      .zoo {
        display: none;
      }
      .lite {
height: 100vh;
      }
    .detts {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    }
    
    .resolute {
      display: flex;
      width: fit-content;
      gap: 2px;
      justify-content: end;
    }
    .descTextF {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 12px;
        color: #333;
        letter-spacing: 2px;
        background-color: #f8f8f8;
        border-radius: 5px;
      margin-top: 4px;
    padding: 10px;
    }
    .descTextJln12 {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 9px;
        color: #333;
        text-align: end;
        letter-spacing: 2px;
    padding: 2px;
    }
    .pPrice  {
      font-family: 'Arial', sans-serif;
        font-size: 18px;
        color: #333;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        letter-spacing: 1px;
        padding: 10px;
        background-color: #f8f8f8;
        border-radius: 5px;
    font-weight: 600;
    }
    .descTextM {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
        color: #333;
        letter-spacing: 2px;
      margin-top: 0px;
    padding: 2px;
    }
    .cardAsk {
      font-size: 12px;
      color: black;
      margin-top: 2px;
    padding: 4px;
      width: fit-content;
      font-family: "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    }
    .fixer {
      position: relative;
      width: 100%;
      padding: 0px;
      padding-bottom: 28px;
    margin-bottom: 10px;
      height: 50vh;
    }
    .cardi2 {
      position: relative; /* Ensure relative positioning for absolute positioning inside */
    
      flex: 0 0 calc(90% - 4px); /* Calculate width for three columns with gap */
      align-items: flex-start;
      background: linear-gradient(to right, rgba(230, 230, 230, 0.95),rgba(255, 255, 255, 0.9));
      border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
     max-height: 180px;
     min-height: 180px;
     display: flex;
     justify-content: space-between;
     overflow: hidden;
     transition: all 1s ease-in-out;
     cursor: pointer;
     transition: transform 0.1s ease-in-out;
     border: 1px solid rgba(63, 63, 63, 0.5);
    }
    .pAddress-1 {
      font-size: 20px;
      padding: 2px;
      color: #333;
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    
    }
    .descTextJln1 {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 12px;
        color: #333;
        letter-spacing: 2px;
    padding: 2px;
    }
    .descTexcope {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 9px;
        color: #252525;
        letter-spacing: 2px;
    padding: 2px;
    margin-top: auto;
    }
    .descTexcop {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 12px;
        color: #252525;
        letter-spacing: 2px;
    padding: 2px;
    }
    .descTextJlnv1 {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 12px;
        color: #333;
        margin-top: auto;
        letter-spacing: 2px;
    padding: 2px;
    font-weight: 600;
    }
    .descTextJlnv {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 18px;
        color: #333;
        margin-top: auto;
        letter-spacing: 2px;
    padding: 2px;
    font-weight: 600;
    }
    .descTextJv {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 16px;
        text-align: center;
        color: #333;
        letter-spacing: 2px;
      margin-top: 4px;
      font-weight: 600;
    padding: 6px;
    }
    .descTexco {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
        color: #252525;
        letter-spacing: 2px;
    padding: 2px;
    font-weight: 600;
    }
  .noResultsMessage {

    font-size: 20px;

  
  }
  .descTextJln {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 12px;
      color: #333;
      letter-spacing: 2px;
  padding: 2px;
  }
  .alone {
    font-size: 12px;
  }

  .holding1 {
    flex-direction: column;
    max-width: 100%;
    margin-top: 6px;
    margin-bottom: 8px;
    }
    .descTextJc {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 18px;
        text-align: center;
        color: #333;
        letter-spacing: 2px;
        background-color: #f8f8f8;
      margin-top: 8px;
      margin-bottom: 8px;
    
    padding: 10px;
    }
    .descTexcp {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
        color: #252525;
        letter-spacing: 2px;
      margin-top: 0px;
    padding: 0px;
    }
    .descTexc {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 16px;
        color: #252525;
        letter-spacing: 2px;
      margin-top: 4px;
      margin-bottom: 4px;
    padding: 2px;
    }
    .currency11 {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 9px;
      color: #333;
      width: fit-content;
    }
    .descTexco1 {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 12px;
        color: #252525;
        letter-spacing: 2px;
    padding: 2px;
    font-weight: 600;
    }
    .descTexcop1 {
      font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 11px;
        color: #252525;
        letter-spacing: 1px;
    padding: 2px;
    }
    .descTex {
      text-align: center;
      font-size: 14px;
      }
}

@media screen and (max-width: 500px) {
  .capture {
    justify-content: space-between;
  }
  .toggle {
    padding: 8px;
  }
  .fixer {
    position: relative;
    width: 100%;
    padding: 0px;
    padding-bottom: 28px;
  margin-bottom: 10px;
    height: 40vh;
  }
.descTexcpt {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    color: #252525;
    text-align: center;
    letter-spacing: 2px;
  margin-top: 0px;
}
.investingIt, .buyingIt, .sellingIt, .serviceIt, .privacyIt, .missionIt, .priceIt {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
.descTextJ {
  font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    color: #333;
    letter-spacing: 1px;
    background-color: #f8f8f8;
  margin-top: 4px;
padding: 6px;
}
.screen-1 {
  padding-top: 1px;
}
}
@media screen and (max-width: 435px) {
  .noResultsMessage {
    font-size: 18px;

  
  }
  .descTextF {
    font-family:"Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 11px;
      color: #333;
      letter-spacing: 2px;
      background-color: #f8f8f8;
      border-radius: 5px;
    margin-top: 4px;
  padding: 10px;
  }
  .descTextJd {
      font-size: 9px;
      color: #333;
    margin-top: 2px;
  padding: 6px;
  }
  
  .holding1 {
    flex-direction: column;
    max-width: 100%;
    margin-top: 6px;
    margin-bottom: 8px;
    }

}